Repository microsoft/NLU.DevOps: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/build.yml, pipelines/nlu.yml

Path conditions:
  pipelines/build.yml: any of: src
  pipelines/nlu.yml: any of: pipelines/nlu.yml, models, src

Fixes environment variable export in ARM token task
  pipelines/nlu.yml
Due: pipelines/nlu.yml

Removes unnecessary restore step from pipelines
  pipelines/build.yml
  pipelines/nlu.yml
Due: pipelines/nlu.yml

Updated documentation to include Powershell examples of environment variables
  .gitignore
  docs/LuisSecrets.md
Due: none

Adds CRIS support
  models/speech_files/listen_to_hiphop.wav
  models/speech_files/skip_this_one.wav
  models/speech_files/whats_the_weather_like.wav
  models/tests.speech.json
  pipelines/nlu.yml
  src/NLU.DevOps.Luis/LuisNLUServiceFactory.cs
  src/NLU.DevOps.Luis/RestSpeechLuisClient.cs
Due: pipelines/build.yml, pipelines/nlu.yml

Adds unit tests for CommandLine project.
  src/NLU.DevOps.CommandLine.Tests/BaseCommandMock.cs
  src/NLU.DevOps.CommandLine.Tests/BaseCommandTests.cs
  src/NLU.DevOps.CommandLine.Tests/BaseOptionsTests.cs
  src/NLU.DevOps.CommandLine.Tests/Clean/CleanCommandMock.cs
  src/NLU.DevOps.CommandLine.Tests/Clean/CleanCommandTests.cs
  src/NLU.DevOps.CommandLine.Tests/Clean/CleanOptionsTests.cs
  src/NLU.DevOps.CommandLine.Tests/Compare/CompareOptionsTests.cs
  src/NLU.DevOps.CommandLine.Tests/GlobalSuppressions.cs
  src/NLU.DevOps.CommandLine.Tests/NLU.DevOps.CommandLine.Tests.csproj
  src/NLU.DevOps.CommandLine.Tests/NLUServiceFactoryTests.cs
  src/NLU.DevOps.CommandLine.Tests/NLUServiceMock.cs
  src/NLU.DevOps.CommandLine.Tests/ServiceResolverTests.cs
  src/NLU.DevOps.CommandLine.Tests/Test/TestOptionsTests.cs
  src/NLU.DevOps.CommandLine.Tests/Train/TrainCommandMock.cs
  src/NLU.DevOps.CommandLine.Tests/Train/TrainCommandTests.cs
  src/NLU.DevOps.CommandLine.Tests/Train/TrainOptionsTests.cs
  src/NLU.DevOps.CommandLine.Tests/testdata/settings.luis.json
  src/NLU.DevOps.CommandLine.Tests/testdata/tests.json
  src/NLU.DevOps.CommandLine.Tests/testdata/utterances.json
  src/NLU.DevOps.CommandLine/BaseCommand.cs
  src/NLU.DevOps.CommandLine/Properties/AssemblyInfo.cs
  src/NLU.DevOps.CommandLine/Train/TrainCommand.cs
  src/NLU.DevOps.Luis/LuisNLUServiceFactory.cs
  src/NLU.DevOps.sln
Due: pipelines/build.yml, pipelines/nlu.yml

Switches from custom mocks to Moq
  src/NLU.DevOps.Lex.Tests/LexNLUTestClientTests.cs
  src/NLU.DevOps.Lex.Tests/LexNLUTrainClientTests.cs
  src/NLU.DevOps.Lex.Tests/NLU.DevOps.Lex.Tests.csproj
  src/NLU.DevOps.Lex/LexNLUTrainClient.cs
  src/NLU.DevOps.Luis.Tests.Shared/LuisNLUTrainClientTests.cs
  src/NLU.DevOps.Luis.Tests/LuisNLUTestClientTests.cs
  src/NLU.DevOps.Luis.Tests/NLU.DevOps.Luis.Tests.csproj
  src/NLU.DevOps.LuisV3.Tests/LuisNLUTestClientTests.cs
  src/NLU.DevOps.LuisV3.Tests/NLU.DevOps.LuisV3.Tests.csproj
Due: pipelines/build.yml, pipelines/nlu.yml

Adds unit tests for ModelPerformance.Tests
  .gitignore
  src/NLU.DevOps.CommandLine/Compare/CompareCommand.cs
  src/NLU.DevOps.CommandLine/NLU.DevOps.CommandLine.csproj
  src/NLU.DevOps.ModelPerformance.Tests/NLU.DevOps.ModelPerformance.Tests.csproj
  src/NLU.DevOps.ModelPerformance.Tests/TestCaseSourceTests.cs
  src/NLU.DevOps.ModelPerformance/ConfigurationConstants.cs
  src/NLU.DevOps.ModelPerformance/NLU.DevOps.ModelPerformance.csproj
  src/NLU.DevOps.ModelPerformance/TestCase.cs
  src/NLU.DevOps.ModelPerformance/TestCaseSource.cs
  src/NLU.DevOps.ModelPerformance/TestResultKind.cs
  src/NLU.DevOps.ModelPerformance/Tests.cs
  src/NLU.DevOps.ModelPerformance/appsettings.json
  src/NLU.DevOps.ModelPerformance/models/actualUtterances.json
  src/NLU.DevOps.ModelPerformance/models/expectedUtterances.json
  src/NLU.DevOps.ModelPerformance/propereties/AssemblyInfo.cs
  src/NLU.DevOps.sln
Due: pipelines/build.yml, pipelines/nlu.yml

Fixes truncation issue with CLI output
  src/NLU.DevOps.CommandLine.Tests/BaseCommandMock.cs
  src/NLU.DevOps.CommandLine.Tests/BaseCommandTests.cs
  src/NLU.DevOps.CommandLine.Tests/Test/TestCommandTests.cs
  src/NLU.DevOps.CommandLine/BaseCommand.cs
  src/NLU.DevOps.CommandLine/Test/TestCommand.cs
Due: pipelines/build.yml, pipelines/nlu.yml

Fallback on 'luisAuthoring[Key|Region]' for speech key and region.
  src/NLU.DevOps.Luis.Shared/LuisConfiguration.cs
Due: pipelines/build.yml, pipelines/nlu.yml

Updated CommandLine to compatible version
  src/NLU.DevOps.CommandLine/NLU.DevOps.CommandLine.csproj
Due: pipelines/build.yml, pipelines/nlu.yml

Adds 'luisUseSpeechEndpoint' configuration for LUIS V2
  src/NLU.DevOps.Luis.Shared/ILuisConfiguration.cs
  src/NLU.DevOps.Luis.Shared/LuisConfiguration.cs
  src/NLU.DevOps.Luis.Tests.Shared/LuisConfigurationTests.cs
  src/NLU.DevOps.Luis.Tests/NLU.DevOps.Luis.Tests.csproj
  src/NLU.DevOps.Luis/LuisNLUClientFactory.cs
  src/NLU.DevOps.Luis/LuisTestClient.cs
  src/NLU.DevOps.Luis/RestSpeechLuisTestClient.cs
  src/NLU.DevOps.LuisV3.Tests/NLU.DevOps.LuisV3.Tests.csproj
  src/NLU.DevOps.LuisV3/LuisTestClient.cs
Due: pipelines/build.yml, pipelines/nlu.yml

Update NLU pipeline to support text and speech utterances
  pipelines/nlu.yml
Due: pipelines/nlu.yml

Use AssemblyLoadContext to load NLU provider binaries
  src/NLU.DevOps.CommandLine/ServiceResolver.cs
Due: pipelines/build.yml, pipelines/nlu.yml

Bumps the NuGet package version to prepare for publishing.
  src/CommonNuget.props
Due: pipelines/build.yml, pipelines/nlu.yml

Compares results from speech when evaluating regressions
  pipelines/nlu.yml
Due: pipelines/nlu.yml

Temporary hack to fix native dependency resolution for NLU.DevOps.Luis
  pipelines/nlu.yml
  src/NLU.DevOps.CommandLine/NLU.DevOps.CommandLine.csproj
  src/NLU.DevOps.CommandLine/ServiceResolver.cs
  src/NLU.DevOps.Luis.Shared/NLU.DevOps.Luis.Shared.projitems
  src/NLU.DevOps.Luis.Tests.Shared/NLU.DevOps.Luis.Tests.Shared.projitems
  src/NLU.DevOps.sln
Due: pipelines/build.yml, pipelines/nlu.yml

Fixes issue with Microsoft.CognitiveServices.Speech
  src/NLU.DevOps.Luis.Shared/ILuisConfiguration.cs
  src/NLU.DevOps.Luis.Shared/LuisConfiguration.cs
  src/NLU.DevOps.Luis.Tests.Shared/LuisConfigurationTests.cs
  src/NLU.DevOps.Luis/LuisTestClient.cs
Due: pipelines/build.yml, pipelines/nlu.yml

Added all the parallelism changes to the github project.
  src/NLU.DevOps.CommandLine.Tests/Test/TestOptionsTests.cs
  src/NLU.DevOps.CommandLine/EnumerableExtensions.cs
  src/NLU.DevOps.CommandLine/Test/TestCommand.cs
  src/NLU.DevOps.CommandLine/Test/TestOptions.cs
  src/NLU.DevOps.sln
Due: pipelines/build.yml, pipelines/nlu.yml
