Repository microsoft/NLU.DevOps: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Path conditions:
  pipelines/build.yml: any of: pipelines/build.yml, src
  pipelines/nlu-extension.yml: any of: pipelines/nlu-extension.yml, models, src
  pipelines/nlu-provider.yml: any of: pipelines/nlu-provider.yml, src
  pipelines/nlu.yml: any of: pipelines/nlu.yml, models, src

Fixes local prepend PATH for Windows (#107)
  extensions/common/nlu-devops-common/package.json
  extensions/common/nlu-devops-common/utilities/index.ts
  extensions/tasks/NLUCleanV0/package.json
  extensions/tasks/NLUCleanV0/task.json
  extensions/tasks/NLUTestV0/package.json
  extensions/tasks/NLUTestV0/task.json
  extensions/tasks/NLUTrainV0/package.json
  extensions/tasks/NLUTrainV0/task.json
  extensions/vss-extension.json
Due: none

Minor simplification to PATH delimiter problem
  extensions/common/nlu-devops-common/utilities/index.ts
Due: none

Minor simplification to PATH delimiter problem (#108)
  extensions/common/nlu-devops-common/utilities/index.ts
Due: none

Points to Hosted VS2017 pool to test extension on Windows
  pipelines/nlu-extension.yml
Due: pipelines/nlu-extension.yml

Fixes minor lint error for NLUTrain
  extensions/tasks/NLUTrainV0/index.ts
Due: none

Added pipeline to build Azure DevOps extension
  pipelines/extension-build.yml
  pipelines/scripts/bump_version.ps1
Due: none

Addresses comments.
  pipelines/extension-build.yml
  pipelines/scripts/bump_version.ps1
Due: none

Added pipeline to build Azure DevOps extension (#103)
  pipelines/extension-build.yml
Due: none

Fixes entity match logic
  src/NLU.DevOps.ModelPerformance.Tests/TestCaseSourceTests.cs
  src/NLU.DevOps.ModelPerformance/TestCaseSource.cs
Due: pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Bumps NuGet version to 0.3.7
  src/CommonNuget.props
Due: pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Renames DialogFlow -> Dialogflow
  src/NLU.DevOps.CommandLine/NLU.DevOps.CommandLine.csproj
  src/NLU.DevOps.DialogFlow.Tests/GlobalSuppressions.cs
  src/NLU.DevOps.DialogFlow/Properties/AssemblyInfo.cs
  src/NLU.DevOps.Dialogflow.Tests/Assets/test.txt
  src/NLU.DevOps.Dialogflow.Tests/DialogflowNLUTestClientFactoryTests.cs
  src/NLU.DevOps.Dialogflow.Tests/DialogflowNLUTestClientTests.cs
  src/NLU.DevOps.Dialogflow.Tests/GlobalSuppressions.cs
  src/NLU.DevOps.Dialogflow.Tests/NLU.DevOps.Dialogflow.Tests.csproj
  src/NLU.DevOps.Dialogflow/DialogflowNLUClientFactory.cs
  src/NLU.DevOps.Dialogflow/DialogflowNLUTestClient.cs
  src/NLU.DevOps.Dialogflow/NLU.DevOps.Dialogflow.csproj
  src/NLU.DevOps.Dialogflow/Properties/AssemblyInfo.cs
  src/NLU.DevOps.sln
Due: pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Updates 'compare' command documentation
  docs/Compare.md
Due: none

Adds PR trigger filter for extension pipeline
  pipelines/extension-build.yml
Due: none

stuff
  docs/Clean.md
Due: none

Adds input for 'publishNLUResults'
  pipelines/nlu-extension.yml
Due: pipelines/nlu-extension.yml

Reverts version numbers to 0.1.0
  extensions/tasks/NLUCleanV0/task.json
  extensions/tasks/NLUTestV0/task.json
  extensions/tasks/NLUTrainV0/task.json
  extensions/vss-extension.json
Due: none

Simplify entity model by removing resolution
  src/NLU.DevOps.Core.Tests/LabeledUtteranceConverterTests.cs
  src/NLU.DevOps.Dialogflow/DialogflowNLUTestClient.cs
  src/NLU.DevOps.Lex.Tests/LexNLUTestClientTests.cs
  src/NLU.DevOps.Lex.Tests/LexNLUTrainClientTests.cs
  src/NLU.DevOps.Lex/LexNLUTestClient.cs
  src/NLU.DevOps.Luis.Shared/ScoredEntity.cs
  src/NLU.DevOps.Luis.Tests.Shared/LuisNLUTrainClientTests.cs
  src/NLU.DevOps.Luis.Tests/LuisNLUTestClientTests.cs
  src/NLU.DevOps.Luis/LuisNLUTestClient.cs
  src/NLU.DevOps.LuisV3.Tests/LuisNLUTestClientTests.cs
  src/NLU.DevOps.LuisV3/LuisNLUTestClient.cs
  src/NLU.DevOps.ModelPerformance.Tests/TestCaseSourceTests.cs
  src/NLU.DevOps.ModelPerformance.Tests/models/actualUtterances.json
  src/NLU.DevOps.ModelPerformance.Tests/models/expectedUtterances.json
  src/NLU.DevOps.ModelPerformance/ComparisonTargetKind.cs
  src/NLU.DevOps.ModelPerformance/NLUCompareResults.cs
  src/NLU.DevOps.ModelPerformance/NLUStatistics.cs
  src/NLU.DevOps.ModelPerformance/ScoredEntity.cs
  src/NLU.DevOps.ModelPerformance/TestCaseSource.cs
  src/NLU.DevOps.Models/Entity.cs
Due: pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Added pipelines to test and release extension
  pipelines/test-release.yml
Due: none

Fixes
  pipelines/extension-build.yml
  pipelines/test-release.yml
Due: none

Added luis model
  models/luismodel.json
Due: pipelines/nlu-extension.yml, pipelines/nlu.yml

Leverage LUIS endpoint key for testing
  pipelines/nlu-extension.yml
Due: pipelines/nlu-extension.yml

Switches to PluginLoader from custom AssemblyLoadContext
  pipelines/nlu-extension.yml
  pipelines/nlu-provider.yml
  pipelines/nlu.yml
  src/CommonNuget.props
  src/NLU.DevOps.CommandLine.Tests/NLU.DevOps.CommandLine.Tests.csproj
  src/NLU.DevOps.CommandLine/NLU.DevOps.CommandLine.csproj
  src/NLU.DevOps.CommandLine/ServiceResolver.cs
  src/NLU.DevOps.Dialogflow/NLU.DevOps.Dialogflow.csproj
  src/NLU.DevOps.Lex.Tests/NLU.DevOps.Lex.Tests.csproj
  src/NLU.DevOps.Lex/NLU.DevOps.Lex.csproj
  src/NLU.DevOps.Luis.Tests/NLU.DevOps.Luis.Tests.csproj
  src/NLU.DevOps.Luis/NLU.DevOps.Luis.csproj
  src/NLU.DevOps.LuisV3.Tests/NLU.DevOps.LuisV3.Tests.csproj
  src/NLU.DevOps.LuisV3/NLU.DevOps.LuisV3.csproj
  src/NLU.DevOps.ModelPerformance.Tests/NLU.DevOps.ModelPerformance.Tests.csproj
  src/NLU.DevOps.sln
Due: pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Bumps version to 0.4.0
  src/CommonNuget.props
  src/NLU.DevOps.Core/NLU.DevOps.Core.csproj
  src/NLU.DevOps.Models/NLU.DevOps.Models.csproj
Due: pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Adds task to install NLU.DevOps extensions
  extensions/common/nlu-devops-common/package.json
  extensions/common/nlu-devops-common/utilities/index.ts
  extensions/tasks/NLUInstallV0/index.ts
  extensions/tasks/NLUInstallV0/package.json
  extensions/tasks/NLUInstallV0/task.json
  extensions/tasks/NLUTestV0/package.json
  extensions/tasks/NLUTrainV0/package.json
Due: none

Adds mock provider implementation for use in samples and CI builds
  src/NLU.DevOps.MockProvider/MockNLUClient.cs
  src/NLU.DevOps.MockProvider/MockNLUClientFactory.cs
  src/NLU.DevOps.MockProvider/NLU.DevOps.MockProvider.csproj
  src/NLU.DevOps.MockProvider/Program.cs
  src/NLU.DevOps.sln
Due: pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Use mock provider for Azure DevOps extension tests
  models/tests.json
  pipelines/nlu-extension.yml
Due: pipelines/nlu-extension.yml, pipelines/nlu.yml

Updates CLI extension docs to use mock provider
  docs/CliExtensions.md
Due: none
