Repository microsoft/NLU.DevOps: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/build-cli.yml, pipelines/build-extension.yml, pipelines/build.yml, pipelines/extension-build.yml, pipelines/nlu-extension-build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

pipelines/build-cli.yml:
  queue:
    name: Hosted VS2017
  steps:
  - task: DotNetCoreCLI@2
    displayName: Build solution
    inputs:
      projects: src/NLU.DevOps.sln
      arguments: --configuration Release /warnaserror
  - task: DotNetCoreCLI@2
    displayName: Run tests
    inputs:
      command: test
      projects: '**/*[Tt]ests/*.csproj'
  ...

pipelines/build-extension.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NPM@1
    displayName: npm install
    inputs:
      command: install
      workingDir: extensions
  - task: NPM@1
    displayName: npm run lint
    inputs:
      command: custom
      customCommand: run lint
      workingDir: extensions
  - task: NPM@1
  ...

pipelines/build.yml:
  queue:
    name: Hosted VS2017
  steps:
  - task: DotNetCoreCLI@2
    displayName: Build solution
    inputs:
      projects: src/NLU.DevOps.sln
      arguments: --configuration Release /warnaserror
  - task: DotNetCoreCLI@2
    displayName: Run tests
    inputs:
      command: test
      projects: '**/*[Tt]ests/*.csproj'
  ...

pipelines/extension-build.yml:
  stages:
  - stage: Build
    jobs:
    - job: buildvsix
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NPM@1
        displayName: npm install
        inputs:
          command: install
          workingDir: extensions
      - task: NPM@1
        displayName: npm run lint
        inputs:
  ...

pipelines/nlu-extension-build.yml:
  jobs:
  - job: build_vsix
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NPM@1
      displayName: npm install
      inputs:
        command: install
        workingDir: extensions
    - task: NPM@1
      displayName: npm run lint
      inputs:
        command: custom
        customCommand: run lint
  ...

pipelines/nlu-extension.yml:
  steps:
  - task: DotNetCoreCLI@2
    displayName: Restore NuGet packages for NLU.DevOps
    inputs:
      command: restore
      projects: src/NLU.DevOps.sln
  - task: DotNetCoreCLI@2
    displayName: Create NuGet package for NLU.DevOps.CommandLine
    inputs:
      command: pack
  ...

pipelines/nlu-provider.yml:
  steps:
  - task: DotNetCoreCLI@2
    displayName: Restore NuGet packages for NLU.DevOps
    inputs:
      command: restore
      projects: src/NLU.DevOps.sln
  - task: DotNetCoreCLI@2
    displayName: Create NuGet package for NLU.DevOps.CommandLine
    inputs:
      command: pack
  ...

pipelines/nlu.yml:
  steps:
  - task: DotNetCoreCLI@2
    displayName: Build NLU.DevOps solution
    inputs:
      projects: src/NLU.DevOps.sln
      arguments: --configuration Release /warnaserror
  - task: DotNetCoreCLI@2
    displayName: Create NuGet package for NLU.DevOps.CommandLine
    inputs:
      command: pack
  ...

Fixes linter issues
  extensions/tasks/NLUTestV0/runTask.ts
Due: pipelines/build-extension.yml, pipelines/extension-build.yml, pipelines/nlu-extension-build.yml

Simplifies a bit
  extensions/tasks/NLUTestV0/__tests__/runTask.spec.ts
  extensions/tasks/NLUTestV0/artifacts.ts
  extensions/tasks/NLUTestV0/runTask.ts
Due: pipelines/build-extension.yml, pipelines/extension-build.yml, pipelines/nlu-extension-build.yml

Minor lint fix
  extensions/tasks/NLUTestV0/artifacts.ts
Due: pipelines/build-extension.yml, pipelines/extension-build.yml, pipelines/nlu-extension-build.yml

Adds baseline compare behavior to AzDO extension (#280)
  extensions/tasks/NLUCleanV0/task.json
  extensions/tasks/NLUTestV0/__tests__/runTask.spec.ts
  extensions/tasks/NLUTestV0/artifacts.ts
  extensions/tasks/NLUTestV0/runTask.ts
  extensions/tasks/NLUTestV0/task.json
  extensions/tasks/NLUTrainV0/task.json
Due: pipelines/build-extension.yml, pipelines/extension-build.yml, pipelines/nlu-extension-build.yml

Fixes minor issues with compare command
  src/NLU.DevOps.CommandLine/Compare/CompareCommand.cs
  src/NLU.DevOps.CommandLine/Compare/CompareOptions.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Adds baseline compare example to AzDO pipeline
  pipelines/nlu-cli.yml
Due: none

Adds baseline compare example to AzDO pipeline (#286)
  pipelines/nlu-cli.yml
Due: none

Fixes minor issues with compare command (#285)
  src/NLU.DevOps.CommandLine/Compare/CompareCommand.cs
  src/NLU.DevOps.CommandLine/Compare/CompareOptions.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Fixes build break for CI
  pipelines/nlu-cli.yml
Due: none

Fixes build break for CI (#287)
  pipelines/nlu-cli.yml
Due: none

Disables logging from test command
  src/NLU.DevOps.Luis/LuisTestClient.cs
  src/NLU.DevOps.LuisV3/LuisTestClient.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Disables mroe false positives in unit test mode
  src/NLU.DevOps.ModelPerformance.Tests/TestCaseSourceTests.cs
  src/NLU.DevOps.ModelPerformance/TestCaseSource.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Allows test overrides of retry delay
  src/NLU.DevOps.Dialogflow.Tests/DialogflowNLUTestClientTests.cs
  src/NLU.DevOps.Dialogflow/DialogflowNLUTestClient.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Disables logging from test command (#289)
  src/NLU.DevOps.Luis/LuisTestClient.cs
  src/NLU.DevOps.LuisV3/LuisTestClient.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Disables more false positives in unit test mode (#291)
  src/NLU.DevOps.ModelPerformance.Tests/TestCaseSourceTests.cs
  src/NLU.DevOps.ModelPerformance/TestCaseSource.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Allows test overrides of Dialogflow retry delay (#292)
  src/NLU.DevOps.Dialogflow.Tests/DialogflowNLUTestClientTests.cs
  src/NLU.DevOps.Dialogflow/DialogflowNLUTestClient.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Fixes bug for empty entity dictionary
  src/NLU.DevOps.LuisV3.Tests/LuisNLUTestClientTests.cs
  src/NLU.DevOps.LuisV3/LuisNLUTestClient.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Addressing PR comment
  src/NLU.DevOps.LuisV3/LuisNLUTestClient.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Updates docs for latest changes to unit test mode
  docs/Analyze.md
Due: none

Updates docs for latest changes to unit test mode (#295)
  docs/Analyze.md
Due: none

Fixes bug for empty entity dictionary (#294)
  src/NLU.DevOps.LuisV3.Tests/LuisNLUTestClientTests.cs
  src/NLU.DevOps.LuisV3/LuisNLUTestClient.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Bumps NuGet version to 0.7.2
  src/CommonNuget.props
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Bumps NuGet version to 0.7.2 (#296)
  src/CommonNuget.props
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Adds support for YAML test settings
  src/NLU.DevOps.ModelPerformance.Tests/TestSettingsTests.cs
  src/NLU.DevOps.ModelPerformance/NLU.DevOps.ModelPerformance.csproj
  src/NLU.DevOps.ModelPerformance/TestSettings.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Convert timestamp to opt-in feature
  docs/Test.md
  docs/UtteranceExtensions.md
  src/NLU.DevOps.CommandLine/Test/TestCommand.cs
  src/NLU.DevOps.CommandLine/Test/TestOptions.cs
  src/NLU.DevOps.Dialogflow/DialogflowNLUTestClient.cs
  src/NLU.DevOps.Lex.Tests/LexNLUTestClientTests.cs
  src/NLU.DevOps.Lex/LexNLUTestClient.cs
  src/NLU.DevOps.Luis.Tests/LuisNLUTestClientTests.cs
  src/NLU.DevOps.Luis/LuisNLUTestClient.cs
  src/NLU.DevOps.LuisV3.Tests/LuisNLUTestClientTests.cs
  src/NLU.DevOps.LuisV3/LuisNLUTestClient.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Adds a `--qps` CLI option to the test command
  src/NLU.DevOps.CommandLine.Tests/EnumerableExtensionsTests.cs
  src/NLU.DevOps.CommandLine/EnumerableExtensions.cs
  src/NLU.DevOps.CommandLine/Test/TestCommand.cs
  src/NLU.DevOps.CommandLine/Test/TestOptions.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Adds option to skip build comparison to CI
  pipelines/nlu-cli.yml
Due: none

Adds option to skip build comparison to CI (#300)
  pipelines/nlu-cli.yml
Due: none

Adds support for endpoints based on Azure resource
  docs/AzurePipelines.md
  docs/LuisEndpointConfiguration.md
  src/CodeCoverage.props
  src/NLU.DevOps.Luis.Shared/AzureSubscriptionInfo.cs
  src/NLU.DevOps.Luis.Shared/ILuisConfiguration.cs
  src/NLU.DevOps.Luis.Shared/LuisConfiguration.cs
  src/NLU.DevOps.Luis.Shared/LuisTrainClient.cs
  src/NLU.DevOps.Luis.Tests.Shared/LuisConfigurationTests.cs
  src/NLU.DevOps.Luis/LuisTestClient.cs
  src/NLU.DevOps.LuisV3/LuisTestClient.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Adds authoring resource name option
  docs/LuisEndpointConfiguration.md
  src/NLU.DevOps.Luis.Shared/LuisConfiguration.cs
  src/NLU.DevOps.Luis.Tests.Shared/LuisConfigurationTests.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Adds support for endpoints based on Azure resource (#299)
  docs/AzurePipelines.md
  docs/LuisEndpointConfiguration.md
  src/CodeCoverage.props
  src/NLU.DevOps.Luis.Shared/AzureSubscriptionInfo.cs
  src/NLU.DevOps.Luis.Shared/ILuisConfiguration.cs
  src/NLU.DevOps.Luis.Shared/LuisConfiguration.cs
  src/NLU.DevOps.Luis.Shared/LuisTrainClient.cs
  src/NLU.DevOps.Luis.Tests.Shared/LuisConfigurationTests.cs
  src/NLU.DevOps.Luis/LuisTestClient.cs
  src/NLU.DevOps.LuisV3/LuisTestClient.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Bumps NuGet version to 0.7.3
  src/CommonNuget.props
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Bumps NuGet version to 0.7.3 (#301)
  src/CommonNuget.props
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Adds support for YAML test settings
  src/NLU.DevOps.ModelPerformance.Tests/TestSettingsTests.cs
  src/NLU.DevOps.ModelPerformance/NLU.DevOps.ModelPerformance.csproj
  src/NLU.DevOps.ModelPerformance/TestCaseSource.cs
  src/NLU.DevOps.ModelPerformance/TestSettings.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Updates the docs for the threshold behavior
  docs/Analyze.md
Due: none

Replace custom Python regression script with compare thresholds
  models/compare.json
  models/compare.yml
  pipelines/nlu-cli.yml
Due: pipelines/nlu-extension.yml, pipelines/nlu.yml

Adds thresholds to compare command configuration
  src/NLU.DevOps.CommandLine/Compare/CompareCommand.cs
  src/NLU.DevOps.ModelPerformance.Tests/TestSettingsTests.cs
  src/NLU.DevOps.ModelPerformance/NLUAccuracy.cs
  src/NLU.DevOps.ModelPerformance/NLUThreshold.cs
  src/NLU.DevOps.ModelPerformance/TestSettings.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Adds thresholds to compare command configuration (#279)
  docs/Analyze.md
  models/compare.json
  models/compare.yml
  pipelines/nlu-cli.yml
  src/NLU.DevOps.CommandLine/Compare/CompareCommand.cs
  src/NLU.DevOps.ModelPerformance.Tests/TestSettingsTests.cs
  src/NLU.DevOps.ModelPerformance/NLU.DevOps.ModelPerformance.csproj
  src/NLU.DevOps.ModelPerformance/NLUAccuracy.cs
  src/NLU.DevOps.ModelPerformance/NLUThreshold.cs
  src/NLU.DevOps.ModelPerformance/TestCaseSource.cs
  src/NLU.DevOps.ModelPerformance/TestSettings.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Bumps NuGet version to 0.7.4
  src/CommonNuget.props
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Bumps NuGet version to 0.7.4 (#304)
  src/CommonNuget.props
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Path conditions:
  pipelines/build-cli.yml: any of: pipelines/build-cli.yml, src
  pipelines/build-extension.yml: any of: extensions, pipelines/build-extension.yml
  pipelines/build.yml: any of: pipelines/build.yml, src
  pipelines/extension-build.yml: any of: extensions, pipelines/extension-build.yml
  pipelines/nlu-extension-build.yml: any of: extensions, pipelines/extension-build.yml
  pipelines/nlu-extension.yml: any of: pipelines/nlu-extension.yml, models, src
  pipelines/nlu-provider.yml: any of: pipelines/nlu-provider.yml, src
  pipelines/nlu.yml: any of: pipelines/nlu.yml, models, src
