Repository microsoft/NLU.DevOps: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/build-cli.yml, pipelines/build-extension.yml, pipelines/build.yml, pipelines/extension-build.yml, pipelines/nlu-extension-build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

pipelines/build-cli.yml:
  queue:
    name: Hosted VS2017
  steps:
  - task: DotNetCoreCLI@2
    displayName: Build solution
    inputs:
      projects: src/NLU.DevOps.sln
      arguments: --configuration Release /warnaserror
  - task: DotNetCoreCLI@2
    displayName: Run tests
    inputs:
      command: test
      projects: '**/*[Tt]ests/*.csproj'
  ...

pipelines/build-extension.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NPM@1
    displayName: npm install
    inputs:
      command: install
      workingDir: extensions
  - task: NPM@1
    displayName: npm run lint
    inputs:
      command: custom
      customCommand: run lint
      workingDir: extensions
  - task: NPM@1
  ...

pipelines/build.yml:
  queue:
    name: Hosted VS2017
  steps:
  - task: DotNetCoreCLI@2
    displayName: Build solution
    inputs:
      projects: src/NLU.DevOps.sln
      arguments: --configuration Release /warnaserror
  - task: DotNetCoreCLI@2
    displayName: Run tests
    inputs:
      command: test
      projects: '**/*[Tt]ests/*.csproj'
  ...

pipelines/extension-build.yml:
  stages:
  - stage: Build
    jobs:
    - job: buildvsix
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NPM@1
        displayName: npm install
        inputs:
          command: install
          workingDir: extensions
      - task: NPM@1
        displayName: npm run lint
        inputs:
  ...

pipelines/nlu-extension-build.yml:
  jobs:
  - job: build_vsix
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NPM@1
      displayName: npm install
      inputs:
        command: install
        workingDir: extensions
    - task: NPM@1
      displayName: npm run lint
      inputs:
        command: custom
        customCommand: run lint
  ...

pipelines/nlu-extension.yml:
  steps:
  - task: DotNetCoreCLI@2
    displayName: Restore NuGet packages for NLU.DevOps
    inputs:
      command: restore
      projects: src/NLU.DevOps.sln
  - task: DotNetCoreCLI@2
    displayName: Create NuGet package for NLU.DevOps.CommandLine
    inputs:
      command: pack
  ...

pipelines/nlu-provider.yml:
  steps:
  - task: DotNetCoreCLI@2
    displayName: Restore NuGet packages for NLU.DevOps
    inputs:
      command: restore
      projects: src/NLU.DevOps.sln
  - task: DotNetCoreCLI@2
    displayName: Create NuGet package for NLU.DevOps.CommandLine
    inputs:
      command: pack
  ...

pipelines/nlu.yml:
  steps:
  - task: DotNetCoreCLI@2
    displayName: Build NLU.DevOps solution
    inputs:
      projects: src/NLU.DevOps.sln
      arguments: --configuration Release /warnaserror
  - task: DotNetCoreCLI@2
    displayName: Create NuGet package for NLU.DevOps.CommandLine
    inputs:
      command: pack
  ...

Runs NUnit tests for compare command in parallel.
  src/NLU.DevOps.ModelPerformance/ConfusionMatrixTests.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Adds infrastructure for passing NLU results as attachment
  extensions/tasks/NLUTestV0/index.ts
  extensions/tasks/NLUTestV0/package.json
  extensions/tasks/NLUTestV0/task.json
  extensions/tslint.json
Due: pipelines/build-extension.yml, pipelines/extension-build.yml, pipelines/nlu-extension-build.yml

Adds unit tests for nlu-devops-common
  extensions/common/nlu-devops-common/.npmignore
  extensions/common/nlu-devops-common/package.json
  extensions/common/nlu-devops-common/utilities/__tests__/index.spec.ts
  extensions/common/tsconfig.json
  extensions/package.json
  extensions/tasks/NLUCleanV0/__tests__/index.spec.ts
  extensions/tasks/NLUCleanV0/package.json
  extensions/tasks/NLUTestV0/package.json
  extensions/tasks/NLUTrainV0/package.json
  extensions/tslint.json
  pipelines/build-extension.yml
Due: pipelines/build-extension.yml, pipelines/extension-build.yml, pipelines/nlu-extension-build.yml

Adds unit tests for AzDO tasks
  extensions/common/nlu-devops-common/utilities/__tests__/index.spec.ts
  extensions/package.json
  extensions/tasks/NLUCleanV0/__tests__/index.spec.ts
  extensions/tasks/NLUCleanV0/__tests__/runTask.spec.ts
  extensions/tasks/NLUCleanV0/index.ts
  extensions/tasks/NLUCleanV0/runTask.ts
  extensions/tasks/NLUTestV0/__tests__/runTask.spec.ts
  extensions/tasks/NLUTestV0/artifacts.ts
  extensions/tasks/NLUTestV0/index.ts
  extensions/tasks/NLUTestV0/runTask.ts
  extensions/tasks/NLUTrainV0/__tests__/runTask.spec.ts
  extensions/tasks/NLUTrainV0/index.ts
  extensions/tasks/NLUTrainV0/runTask.ts
Due: pipelines/build-extension.yml, pipelines/extension-build.yml, pipelines/nlu-extension-build.yml

Adds infrastructure for passing NLU results as attachment (#149)
  extensions/common/nlu-devops-common/.npmignore
  extensions/common/nlu-devops-common/package.json
  extensions/common/nlu-devops-common/utilities/__tests__/index.spec.ts
  extensions/common/tsconfig.json
  extensions/package.json
  extensions/tasks/NLUCleanV0/__tests__/runTask.spec.ts
  extensions/tasks/NLUCleanV0/index.ts
  extensions/tasks/NLUCleanV0/package.json
  extensions/tasks/NLUCleanV0/runTask.ts
  extensions/tasks/NLUTestV0/__tests__/runTask.spec.ts
  extensions/tasks/NLUTestV0/artifacts.ts
  extensions/tasks/NLUTestV0/index.ts
  extensions/tasks/NLUTestV0/package.json
  extensions/tasks/NLUTestV0/runTask.ts
  extensions/tasks/NLUTestV0/task.json
  extensions/tasks/NLUTrainV0/__tests__/runTask.spec.ts
  extensions/tasks/NLUTrainV0/index.ts
  extensions/tasks/NLUTrainV0/package.json
  extensions/tasks/NLUTrainV0/runTask.ts
  extensions/tslint.json
  pipelines/build-extension.yml
Due: pipelines/build-extension.yml, pipelines/extension-build.yml, pipelines/nlu-extension-build.yml

Adds input for dotnet-nlu tool path
  docs/NLUCleanTask.md
  docs/NLUTestTask.md
  docs/NLUTrainTask.md
  extensions/common/nlu-devops-common/utilities/__tests__/index.spec.ts
  extensions/common/nlu-devops-common/utilities/index.ts
  extensions/tasks/NLUCleanV0/task.json
  extensions/tasks/NLUTestV0/task.json
  extensions/tasks/NLUTrainV0/task.json
Due: pipelines/build-extension.yml, pipelines/extension-build.yml, pipelines/nlu-extension-build.yml

Reduces verbosity of confusion matrix JSON
  src/NLU.DevOps.CommandLine/Serializer.cs
  src/NLU.DevOps.CommandLine/ServiceResolver.cs
  src/NLU.DevOps.ModelPerformance.Tests/ConfusionMatrixConverterTests.cs
  src/NLU.DevOps.ModelPerformance/ConfusionMatrixConverter.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Adds JSON formatting to statistics attachment
  extensions/tasks/NLUTestV0/runTask.ts
Due: pipelines/build-extension.yml, pipelines/extension-build.yml, pipelines/nlu-extension-build.yml

Adds entity value example to E2E tests
  models/settings.luis.json
  models/tests.json
Due: pipelines/nlu-extension.yml, pipelines/nlu.yml

Adds .json extension to NLUTest pipeline attachments
  extensions/tasks/NLUTestV0/__tests__/runTask.spec.ts
  extensions/tasks/NLUTestV0/runTask.ts
Due: pipelines/build-extension.yml, pipelines/extension-build.yml, pipelines/nlu-extension-build.yml

Adds details for compare command options
  _config.yml
  docs/Compare.md
  docs/examples/metadata.json
  docs/examples/statistics.json
  src/NLU.DevOps.CommandLine/Compare/CompareOptions.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Bumps NuGet version to 0.4.2
  src/CommonNuget.props
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Removes workaround for mocking fs.writeFileSync
  extensions/package.json
  extensions/tasks/NLUTestV0/__tests__/runTask.spec.ts
  extensions/tasks/NLUTestV0/artifacts.ts
  extensions/tasks/NLUTestV0/runTask.ts
Due: pipelines/build-extension.yml, pipelines/extension-build.yml, pipelines/nlu-extension-build.yml

Bumps NuGet version to 0.5.0
  src/CommonNuget.props
  src/NLU.DevOps.Models/NLU.DevOps.Models.csproj
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Resolves LUIS v2 entities with roles
  models/settings.luis.json
  models/tests.json
  models/utterances.json
  src/NLU.DevOps.Luis.Shared/JSONEntityWithRole.cs
  src/NLU.DevOps.Luis.Shared/LabeledUtteranceExtensions.cs
  src/NLU.DevOps.Luis.Shared/LuisNLUTrainClient.cs
  src/NLU.DevOps.Luis.Shared/LuisSettings.cs
  src/NLU.DevOps.Luis.Shared/NLU.DevOps.Luis.Shared.projitems
  src/NLU.DevOps.Luis.Tests.Shared/LuisNLUTrainClientTests.cs
  src/NLU.DevOps.Luis.Tests.Shared/LuisSettingsTests.cs
  src/NLU.DevOps.Luis.Tests/LuisNLUTestClientTests.cs
  src/NLU.DevOps.Luis/LuisNLUTestClient.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

relint
  extensions/tabs/NLUResults.html
  extensions/tabs/matrix.css
Due: pipelines/build-extension.yml, pipelines/extension-build.yml, pipelines/nlu-extension-build.yml

added confusion matrix code.
  extensions/.gitignore
  extensions/tabs/NLUResults.html
  extensions/tabs/matrix.css
  extensions/tabs/metadata
  extensions/tabs/scripts/confusion.js
  extensions/tabs/scripts/d3.min.js
  extensions/tabs/scripts/json2html.min.js
  extensions/vss-extension.json
  pipelines/nlu-extension-build.yml
Due: pipelines/build-extension.yml, pipelines/extension-build.yml, pipelines/nlu-extension-build.yml

linter not catching space.
  extensions/tabs/NLUResults.html
Due: pipelines/build-extension.yml, pipelines/extension-build.yml, pipelines/nlu-extension-build.yml

updates for CDN and scrolling bug
  extensions/tabs/NLUResults.html
  extensions/tabs/matrix.css
  extensions/tabs/scripts/d3.min.js
  extensions/tabs/scripts/json2html.min.js
Due: pipelines/build-extension.yml, pipelines/extension-build.yml, pipelines/nlu-extension-build.yml

Refactor global variables
  extensions/.editorconfig
  extensions/tabs/NLUResults.html
  extensions/tabs/matrix.css
  extensions/tabs/scripts/confusion.js
  extensions/tabs/scripts/graph.js
  extensions/tabs/scripts/init.js
  extensions/tabs/scripts/matrix.js
Due: pipelines/build-extension.yml, pipelines/extension-build.yml, pipelines/nlu-extension-build.yml

Adds very basic tab demonstrating integration from AzDO task to web extension
  extensions/package.json
  extensions/tabs/NLUResults.html
  extensions/tabs/package.json
  extensions/vss-extension.json
Due: pipelines/build-extension.yml, pipelines/extension-build.yml, pipelines/nlu-extension-build.yml

Adds proper auth header to D3 attachment fetch
  extensions/tabs/NLUResults.html
  extensions/tabs/metadata
  extensions/tabs/scripts/confusion.js
  extensions/vss-extension.json
Due: pipelines/build-extension.yml, pipelines/extension-build.yml, pipelines/nlu-extension-build.yml

Corrects the attachment name for NLU.DevOps metadata
  extensions/tabs/scripts/init.js
Due: pipelines/build-extension.yml, pipelines/extension-build.yml, pipelines/nlu-extension-build.yml

Sets default visibility of AzDO extension to false
  extensions/vss-extension.json
Due: pipelines/build-extension.yml, pipelines/extension-build.yml, pipelines/nlu-extension-build.yml

Updates with security issue reporting
  README.md
  security.md
Due: none

minor fixes
  README.md
  SECURITY.md
Due: none

Adds SECURITY.md to the repo (#180)
  README.md
  SECURITY.md
Due: none

Fixed TooManyRequests for train #175
  src/NLU.DevOps.Luis.Shared/LuisNLUTrainClient.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Adds retry mechanism to train status polling operation (#182)
  src/NLU.DevOps.Luis.Shared/LuisNLUTrainClient.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Adds utterance ID to each test case
  src/NLU.DevOps.ModelPerformance.Tests/TestCaseSourceTests.cs
  src/NLU.DevOps.ModelPerformance/TestCase.cs
  src/NLU.DevOps.ModelPerformance/TestCaseSource.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Adds support for user-labeled utterance IDs.
  src/NLU.DevOps.CommandLine/Compare/CompareCommand.cs
  src/NLU.DevOps.ModelPerformance.Tests/TestCaseSourceTests.cs
  src/NLU.DevOps.ModelPerformance/CompareLabeledUtterance.cs
  src/NLU.DevOps.ModelPerformance/TestCaseSource.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Path conditions:
  pipelines/build-cli.yml: any of: pipelines/build-cli.yml, src
  pipelines/build-extension.yml: any of: extensions, pipelines/build-extension.yml
  pipelines/build.yml: any of: pipelines/build.yml, src
  pipelines/extension-build.yml: any of: extensions, pipelines/extension-build.yml
  pipelines/nlu-extension-build.yml: any of: extensions, pipelines/extension-build.yml
  pipelines/nlu-extension.yml: any of: pipelines/nlu-extension.yml, models, src
  pipelines/nlu-provider.yml: any of: pipelines/nlu-provider.yml, src
  pipelines/nlu.yml: any of: pipelines/nlu.yml, models, src
