Repository microsoft/NLU.DevOps: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/build-cli.yml, pipelines/build-extension.yml, pipelines/build.yml, pipelines/extension-build.yml, pipelines/nlu-extension-build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Path conditions:
  pipelines/build-cli.yml: any of: pipelines/build-cli.yml, src
  pipelines/build-extension.yml: any of: extensions, pipelines/build-extension.yml
  pipelines/build.yml: any of: pipelines/build.yml, src
  pipelines/extension-build.yml: any of: extensions, pipelines/extension-build.yml
  pipelines/nlu-extension-build.yml: any of: extensions, pipelines/extension-build.yml
  pipelines/nlu-extension.yml: any of: pipelines/nlu-extension.yml, models, src
  pipelines/nlu-provider.yml: any of: pipelines/nlu-provider.yml, src
  pipelines/nlu.yml: any of: pipelines/nlu.yml, models, src

Adds JsonExtensionData to labeled utterances
  src/NLU.DevOps.CommandLine/Train/TrainCommand.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Conversion from .js -> .ts
  extensions/tabs/NLUResults.html
  extensions/tabs/README.md
  extensions/tabs/dist/confusion.js.map
  extensions/tabs/dist/graph.js.map
  extensions/tabs/dist/init.js.map
  extensions/tabs/dist/matrix.js.map
  extensions/tabs/metadata.json
  extensions/tabs/package.json
  extensions/tabs/scripts/confusion.js
  extensions/tabs/scripts/graph.js
  extensions/tabs/scripts/init.js
  extensions/tabs/src/confusion.ts
  extensions/tabs/src/graph.ts
  extensions/tabs/src/init.ts
  extensions/tabs/src/matrix.ts
  extensions/tabs/tsconfig.json
Due: pipelines/build-extension.yml, pipelines/extension-build.yml, pipelines/nlu-extension-build.yml

added TypeScript types for d3
  extensions/tabs/package.json
Due: pipelines/build-extension.yml, pipelines/extension-build.yml, pipelines/nlu-extension-build.yml

Adds documentation for "roles" configuration in model settings
  docs/LuisModelConfiguration.md
Due: none

Adds utterance ID to each test case (#179)
  src/NLU.DevOps.CommandLine/Compare/CompareCommand.cs
  src/NLU.DevOps.ModelPerformance.Tests/TestCaseSourceTests.cs
  src/NLU.DevOps.ModelPerformance/CompareLabeledUtterance.cs
  src/NLU.DevOps.ModelPerformance/TestCase.cs
  src/NLU.DevOps.ModelPerformance/TestCaseSource.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Added luis error logging. Resolves #181.
  src/NLU.DevOps.Luis.Shared/LuisNLUTrainClient.cs
  src/NLU.DevOps.Luis/LuisNLUTestClient.cs
  src/NLU.DevOps.LuisV3/LuisNLUTestClient.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Able to loop through entityTypes now. Lots of debug.
  extensions/tabs/dist/confusion.js.map
  extensions/tabs/src/confusion.ts
Due: pipelines/build-extension.yml, pipelines/extension-build.yml, pipelines/nlu-extension-build.yml

Removing more debugging features
  extensions/tabs/dist/confusion.js.map
  extensions/tabs/src/confusion.ts
Due: pipelines/build-extension.yml, pipelines/extension-build.yml, pipelines/nlu-extension-build.yml

removed debugging info
  extensions/tabs/dist/confusion.js.map
  extensions/tabs/src/confusion.ts
Due: pipelines/build-extension.yml, pipelines/extension-build.yml, pipelines/nlu-extension-build.yml

Bumps NuGet version to 0.5.0
  src/CommonNuget.props
  src/NLU.DevOps.Models/NLU.DevOps.Models.csproj
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Resolves LUIS v2 entities with roles
  models/settings.luis.json
  models/tests.json
  models/utterances.json
  src/NLU.DevOps.Luis.Shared/JSONEntityWithRole.cs
  src/NLU.DevOps.Luis.Shared/LabeledUtteranceExtensions.cs
  src/NLU.DevOps.Luis.Shared/LuisNLUTrainClient.cs
  src/NLU.DevOps.Luis.Shared/LuisSettings.cs
  src/NLU.DevOps.Luis.Shared/NLU.DevOps.Luis.Shared.projitems
  src/NLU.DevOps.Luis.Tests.Shared/LuisNLUTrainClientTests.cs
  src/NLU.DevOps.Luis.Tests.Shared/LuisSettingsTests.cs
  src/NLU.DevOps.Luis.Tests/LuisNLUTestClientTests.cs
  src/NLU.DevOps.Luis/LuisNLUTestClient.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Added error status code.
  src/NLU.DevOps.Luis.Shared/LuisNLUTrainClient.cs
  src/NLU.DevOps.Luis/LuisNLUTestClient.cs
  src/NLU.DevOps.LuisV3/LuisNLUTestClient.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Standardizes approach for project configs
  src/NLU.DevOps.CommandLine.Tests/NLU.DevOps.CommandLine.Tests.csproj
  src/NLU.DevOps.CommandLine/NLU.DevOps.CommandLine.csproj
  src/NLU.DevOps.Core/NLU.DevOps.Core.csproj
  src/NLU.DevOps.Lex.Tests/NLU.DevOps.Lex.Tests.csproj
  src/NLU.DevOps.Luis.Tests/NLU.DevOps.Luis.Tests.csproj
  src/NLU.DevOps.LuisV3.Tests/NLU.DevOps.LuisV3.Tests.csproj
  src/NLU.DevOps.ModelPerformance.Tests/NLU.DevOps.ModelPerformance.Tests.csproj
  src/NLU.DevOps.ModelPerformance/NLU.DevOps.ModelPerformance.csproj
  src/NLU.DevOps.Models/NLU.DevOps.Models.csproj
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Fixes support for LUIS batch test format
  src/NLU.DevOps.Core.Tests/LabeledUtteranceConverterTests.cs
  src/NLU.DevOps.Core/LabeledUtteranceConverter.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Adds retry mechanism to Dialogflow test client
  src/NLU.DevOps.Dialogflow.Tests/DialogflowNLUTestClientTests.cs
  src/NLU.DevOps.Dialogflow/DialogflowNLUTestClient.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Bumps NuGet version to 0.5.1
  src/CommonNuget.props
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Constrain the "azure-pipelines-task-lib" version to 2.8.x
  extensions/common/nlu-devops-common/package.json
  extensions/tasks/NLUCleanV0/package.json
  extensions/tasks/NLUTestV0/package.json
  extensions/tasks/NLUTrainV0/package.json
Due: pipelines/build-extension.yml, pipelines/extension-build.yml, pipelines/nlu-extension-build.yml

Bump delay for Dialogflow test query 429 to 30 seconds
  src/NLU.DevOps.Dialogflow/DialogflowNLUTestClient.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Bumps NuGet version to 0.5.2
  src/CommonNuget.props
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Flattens Dialogflow entity values into multiple entities
  src/NLU.DevOps.Dialogflow.Tests/DialogflowNLUTestClientTests.cs
  src/NLU.DevOps.Dialogflow/DialogflowNLUTestClient.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Supporting 1 character entities where startPos is equal tp endPos
  src/NLU.DevOps.Core/LabeledUtteranceConverter.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

making the change shorter by adding <=
  src/NLU.DevOps.Core/LabeledUtteranceConverter.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Adding unit tests for IsValid
  src/NLU.DevOps.Core.Tests/LabeledUtteranceConverterTests.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

added a separate test for single character entities
  src/NLU.DevOps.Core.Tests/LabeledUtteranceConverterTests.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Minor fix to test case to assert matched value.
  src/NLU.DevOps.Core.Tests/LabeledUtteranceConverterTests.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Entity is marked as invalid when it has one character (#203)
  src/NLU.DevOps.Core.Tests/LabeledUtteranceConverterTests.cs
  src/NLU.DevOps.Core/LabeledUtteranceConverter.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Adds support for dynamic entity value matching
  src/NLU.DevOps.CommandLine/Compare/CompareCommand.cs
  src/NLU.DevOps.CommandLine/Compare/CompareOptions.cs
  src/NLU.DevOps.CommandLine/Serializer.cs
  src/NLU.DevOps.Core/LabeledUtteranceContext.cs
  src/NLU.DevOps.Core/PredictedEntity.cs
  src/NLU.DevOps.Core/PredictedLabeledUtterance.cs
  src/NLU.DevOps.Dialogflow/DialogflowNLUTestClient.cs
  src/NLU.DevOps.Lex/LexNLUTestClient.cs
  src/NLU.DevOps.Luis.Shared/NLU.DevOps.Luis.Shared.projitems
  src/NLU.DevOps.Luis.Shared/ScoredEntity.cs
  src/NLU.DevOps.Luis.Shared/ScoredLabeledUtterance.cs
  src/NLU.DevOps.Luis.Tests/LuisNLUTestClientTests.cs
  src/NLU.DevOps.Luis/LuisNLUTestClient.cs
  src/NLU.DevOps.LuisV3.Tests/LuisNLUTestClientTests.cs
  src/NLU.DevOps.LuisV3/LuisNLUTestClient.cs
  src/NLU.DevOps.ModelPerformance.Tests/JTokenExtensionsTests.cs
  src/NLU.DevOps.ModelPerformance.Tests/TestCaseSourceTests.cs
  src/NLU.DevOps.ModelPerformance.Tests/appsettings.json
  src/NLU.DevOps.ModelPerformance.Tests/models/actualUtterances.json
  src/NLU.DevOps.ModelPerformance.Tests/models/expectedUtterances.json
  src/NLU.DevOps.ModelPerformance/ConfigurationConstants.cs
  src/NLU.DevOps.ModelPerformance/JTokenExtensions.cs
  src/NLU.DevOps.ModelPerformance/NLU.DevOps.ModelPerformance.csproj
  src/NLU.DevOps.ModelPerformance/ScoredLabeledUtterance.cs
  src/NLU.DevOps.ModelPerformance/TestCaseSource.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Removes file that was added by mistake
  src/NLU.DevOps.CommandLine/metadata.json
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Adds JSON extension data to labeled utterance model
  src/NLU.DevOps.CommandLine/Compare/CompareCommand.cs
  src/NLU.DevOps.Core.Tests/LabeledUtterancePropertyExtensionsTests.cs
  src/NLU.DevOps.Core/IJsonExtension.cs
  src/NLU.DevOps.Core/JsonEntity.cs
  src/NLU.DevOps.Core/JsonLabeledUtterance.cs
  src/NLU.DevOps.Core/LabeledUtterancePropertyExtensions.cs
  src/NLU.DevOps.Dialogflow.Tests/DialogflowNLUTestClientTests.cs
  src/NLU.DevOps.Dialogflow/DialogflowNLUTestClient.cs
  src/NLU.DevOps.Lex.Tests/LexNLUTestClientTests.cs
  src/NLU.DevOps.Lex/LexNLUTestClient.cs
  src/NLU.DevOps.Luis.Shared/NLU.DevOps.Luis.Shared.projitems
  src/NLU.DevOps.Luis.Shared/ScoredEntity.cs
  src/NLU.DevOps.Luis.Shared/ScoredLabeledUtterance.cs
  src/NLU.DevOps.Luis.Tests/LuisNLUTestClientTests.cs
  src/NLU.DevOps.Luis/LuisNLUTestClient.cs
  src/NLU.DevOps.Luis/SpeechLuisResult.cs
  src/NLU.DevOps.LuisV3.Tests/LuisNLUTestClientTests.cs
  src/NLU.DevOps.LuisV3/LuisNLUTestClient.cs
  src/NLU.DevOps.LuisV3/SpeechPredictionResponse.cs
  src/NLU.DevOps.MockProvider/MockNLUClient.cs
  src/NLU.DevOps.ModelPerformance.Tests/TestCaseSourceTests.cs
  src/NLU.DevOps.ModelPerformance/CompareLabeledUtterance.cs
  src/NLU.DevOps.ModelPerformance/ScoredLabeledUtterance.cs
  src/NLU.DevOps.ModelPerformance/TestCase.cs
  src/NLU.DevOps.ModelPerformance/TestCaseSource.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Bumps NuGet version to 0.5.3
  src/CommonNuget.props
  src/NLU.DevOps.Core.Tests/LabeledUtterancePropertyExtensionsTests.cs
  src/NLU.DevOps.Core/NLU.DevOps.Core.csproj
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml
