Repository microsoft/NLU.DevOps: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/build.yml, pipelines/extension-build.yml, pipelines/nlu-extension-build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

pipelines/build.yml:
  queue:
    name: Hosted VS2017
  steps:
  - task: DotNetCoreCLI@2
    displayName: Build solution
    inputs:
      projects: src/NLU.DevOps.sln
      arguments: --configuration Release /warnaserror
  - task: DotNetCoreCLI@2
    displayName: Run tests
    inputs:
      command: test
      projects: '**/*[Tt]ests/*.csproj'
  ...

pipelines/extension-build.yml:
  stages:
  - stage: Build
    jobs:
    - job: buildvsix
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NPM@1
        displayName: npm install
        inputs:
          command: install
          workingDir: extensions
      - task: NPM@1
        displayName: npm run lint
        inputs:
  ...

pipelines/nlu-extension-build.yml:
  jobs:
  - job: build_vsix
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NPM@1
      displayName: npm install
      inputs:
        command: install
        workingDir: extensions
    - task: NPM@1
      displayName: npm run lint
      inputs:
        command: custom
        customCommand: run lint
  ...

pipelines/nlu-extension.yml:
  steps:
  - task: DotNetCoreCLI@2
    displayName: Restore NuGet packages for NLU.DevOps
    inputs:
      command: restore
      projects: src/NLU.DevOps.sln
  - task: DotNetCoreCLI@2
    displayName: Create NuGet package for NLU.DevOps.CommandLine
    inputs:
      command: pack
  ...

pipelines/nlu-provider.yml:
  steps:
  - task: DotNetCoreCLI@2
    displayName: Restore NuGet packages for NLU.DevOps
    inputs:
      command: restore
      projects: src/NLU.DevOps.sln
  - task: DotNetCoreCLI@2
    displayName: Create NuGet package for NLU.DevOps.CommandLine
    inputs:
      command: pack
  ...

pipelines/nlu.yml:
  steps:
  - task: DotNetCoreCLI@2
    displayName: Build NLU.DevOps solution
    inputs:
      projects: src/NLU.DevOps.sln
      arguments: --configuration Release /warnaserror
  - task: DotNetCoreCLI@2
    displayName: Create NuGet package for NLU.DevOps.CommandLine
    inputs:
      command: pack
  ...

Update overview.md
  extensions/overview.md
Due: pipelines/extension-build.yml, pipelines/nlu-extension-build.yml

updates for CDN and scrolling bug
  extensions/tabs/NLUResults.html
  extensions/tabs/matrix.css
  extensions/tabs/scripts/d3.min.js
  extensions/tabs/scripts/json2html.min.js
Due: pipelines/extension-build.yml, pipelines/nlu-extension-build.yml

test
  pipelines/build-extension.yml
Due: none

Test commit
  pipelines/build-extension.yml
Due: none

Test
  pipelines/build-extension.yml
Due: none

Delete nlu-extension-build.yml
  pipelines/nlu-extension-build.yml
Due: none

Deleted trigger
  pipelines/nlu-extension.yml
Due: pipelines/nlu-extension.yml

Update build-cli.yml
  pipelines/build-cli.yml
Due: none

Added trigger
  pipelines/build-extension.yml
Due: none

Deleted pool
  pipelines/build-extension.yml
Due: none

Added pool
  pipelines/build-extension.yml
Due: none

Fixes
  pipelines/build-extension.yml
Due: none

Minor changes to PR
  pipelines/build-extension.yml
Due: none

add trailing newline
  pipelines/build-extension.yml
Due: none

Refactor global variables
  extensions/.editorconfig
  extensions/tabs/NLUResults.html
  extensions/tabs/matrix.css
  extensions/tabs/scripts/confusion.js
  extensions/tabs/scripts/graph.js
  extensions/tabs/scripts/init.js
  extensions/tabs/scripts/matrix.js
Due: pipelines/extension-build.yml, pipelines/nlu-extension-build.yml

relint
  extensions/tabs/NLUResults.html
  extensions/tabs/matrix.css
Due: pipelines/extension-build.yml, pipelines/nlu-extension-build.yml

linter not catching space.
  extensions/tabs/NLUResults.html
Due: pipelines/extension-build.yml, pipelines/nlu-extension-build.yml

Minor change in documentation to reflect current code
  docs/LuisModelConfiguration.md
Due: none

Adds path resolution for ServiceResolver
  src/NLU.DevOps.CommandLine/ServiceResolver.cs
Due: pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Bumps NuGet version to 0.4.1
  src/CommonNuget.props
Due: pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Minor change in documentation to reflect current code (#145)
  docs/LuisModelConfiguration.md
Due: none

Adds 'include' input to NLU.DevOps AzDO tasks
  docs/Clean.md
  docs/NLUCleanTask.md
  docs/NLUTestTask.md
  docs/NLUTrainTask.md
  docs/Test.md
  docs/Train.md
  extensions/tasks/NLUCleanV0/index.ts
  extensions/tasks/NLUCleanV0/task.json
  extensions/tasks/NLUTestV0/index.ts
  extensions/tasks/NLUTestV0/task.json
  extensions/tasks/NLUTrainV0/index.ts
  extensions/tasks/NLUTrainV0/task.json
Due: pipelines/extension-build.yml, pipelines/nlu-extension-build.yml

Adds infrastructure for passing NLU results as attachment
  extensions/tasks/NLUTestV0/index.ts
  extensions/tasks/NLUTestV0/package.json
  extensions/tasks/NLUTestV0/task.json
  extensions/tslint.json
Due: pipelines/extension-build.yml, pipelines/nlu-extension-build.yml

added confusion matrix code.
  extensions/.gitignore
  extensions/tabs/NLUResults.html
  extensions/tabs/matrix.css
  extensions/tabs/metadata
  extensions/tabs/scripts/confusion.js
  extensions/tabs/scripts/d3.min.js
  extensions/tabs/scripts/json2html.min.js
  extensions/vss-extension.json
  pipelines/nlu-extension-build.yml
Due: pipelines/extension-build.yml, pipelines/nlu-extension-build.yml

Adds proper auth header to D3 attachment fetch
  extensions/tabs/NLUResults.html
  extensions/tabs/metadata
  extensions/tabs/scripts/confusion.js
  extensions/vss-extension.json
Due: pipelines/extension-build.yml, pipelines/nlu-extension-build.yml

Adds very basic tab demonstrating integration from AzDO task to web extension
  extensions/package.json
  extensions/tabs/NLUResults.html
  extensions/tabs/package.json
  extensions/vss-extension.json
Due: pipelines/extension-build.yml, pipelines/nlu-extension-build.yml

Adds copyright headers to Python and TypeScript files
  extensions/common/nlu-devops-common/utilities/index.ts
  extensions/tasks/NLUCleanV0/index.ts
  extensions/tasks/NLUTestV0/index.ts
  extensions/tasks/NLUTrainV0/index.ts
  scripts/compare.py
Due: pipelines/extension-build.yml, pipelines/nlu-extension-build.yml

Runs NUnit tests for compare command in parallel.
  src/NLU.DevOps.ModelPerformance/ConfusionMatrixTests.cs
Due: pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Path conditions:
  pipelines/build.yml: any of: pipelines/build.yml, src
  pipelines/extension-build.yml: any of: extensions, pipelines/extension-build.yml
  pipelines/nlu-extension-build.yml: any of: extensions, pipelines/extension-build.yml
  pipelines/nlu-extension.yml: any of: pipelines/nlu-extension.yml, models, src
  pipelines/nlu-provider.yml: any of: pipelines/nlu-provider.yml, src
  pipelines/nlu.yml: any of: pipelines/nlu.yml, models, src
