Repository microsoft/NLU.DevOps: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/build-cli.yml, pipelines/build-extension.yml, pipelines/build.yml, pipelines/extension-build.yml, pipelines/nlu-extension-build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

pipelines/build-cli.yml:
  queue:
    name: Hosted VS2017
  steps:
  - task: DotNetCoreCLI@2
    displayName: Build solution
    inputs:
      projects: src/NLU.DevOps.sln
      arguments: --configuration Release /warnaserror
  - task: DotNetCoreCLI@2
    displayName: Run tests
    inputs:
      command: test
      projects: '**/*[Tt]ests/*.csproj'
  ...

pipelines/build-extension.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NPM@1
    displayName: npm install
    inputs:
      command: install
      workingDir: extensions
  - task: NPM@1
    displayName: npm run lint
    inputs:
      command: custom
      customCommand: run lint
      workingDir: extensions
  - task: NPM@1
  ...

pipelines/build.yml:
  queue:
    name: Hosted VS2017
  steps:
  - task: DotNetCoreCLI@2
    displayName: Build solution
    inputs:
      projects: src/NLU.DevOps.sln
      arguments: --configuration Release /warnaserror
  - task: DotNetCoreCLI@2
    displayName: Run tests
    inputs:
      command: test
      projects: '**/*[Tt]ests/*.csproj'
  ...

pipelines/extension-build.yml:
  stages:
  - stage: Build
    jobs:
    - job: buildvsix
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NPM@1
        displayName: npm install
        inputs:
          command: install
          workingDir: extensions
      - task: NPM@1
        displayName: npm run lint
        inputs:
  ...

pipelines/nlu-extension-build.yml:
  jobs:
  - job: build_vsix
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NPM@1
      displayName: npm install
      inputs:
        command: install
        workingDir: extensions
    - task: NPM@1
      displayName: npm run lint
      inputs:
        command: custom
        customCommand: run lint
  ...

pipelines/nlu-extension.yml:
  steps:
  - task: DotNetCoreCLI@2
    displayName: Restore NuGet packages for NLU.DevOps
    inputs:
      command: restore
      projects: src/NLU.DevOps.sln
  - task: DotNetCoreCLI@2
    displayName: Create NuGet package for NLU.DevOps.CommandLine
    inputs:
      command: pack
  ...

pipelines/nlu-provider.yml:
  steps:
  - task: DotNetCoreCLI@2
    displayName: Restore NuGet packages for NLU.DevOps
    inputs:
      command: restore
      projects: src/NLU.DevOps.sln
  - task: DotNetCoreCLI@2
    displayName: Create NuGet package for NLU.DevOps.CommandLine
    inputs:
      command: pack
  ...

pipelines/nlu.yml:
  steps:
  - task: DotNetCoreCLI@2
    displayName: Build NLU.DevOps solution
    inputs:
      projects: src/NLU.DevOps.sln
      arguments: --configuration Release /warnaserror
  - task: DotNetCoreCLI@2
    displayName: Create NuGet package for NLU.DevOps.CommandLine
    inputs:
      command: pack
  ...

Adds null check for role entity type lookup
  src/NLU.DevOps.Luis.Shared/LabeledUtteranceExtensions.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Adds null check for role entity type lookup (#271)
  src/NLU.DevOps.Luis.Shared/LabeledUtteranceExtensions.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Bumps NuGet version to 0.7.0 (#269)
  src/CommonNuget.props
  src/NLU.DevOps.Core/NLU.DevOps.Core.csproj
  src/NLU.DevOps.Models/NLU.DevOps.Models.csproj
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Addresses @saroup's comment for seeing actual LUIS v3 payload
  src/NLU.DevOps.LuisV3.Tests/LuisNLUTestClientTests.cs
  src/NLU.DevOps.LuisV3.Tests/NLU.DevOps.LuisV3.Tests.csproj
  src/NLU.DevOps.LuisV3.Tests/Resources/nested.json
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Flattens the hierarchical ML entities from LUIS V3
  src/NLU.DevOps.Core.Tests/LabeledUtterancePropertyExtensionsTests.cs
  src/NLU.DevOps.Core/JsonEntity.cs
  src/NLU.DevOps.Core/LabeledUtterancePropertyExtensions.cs
  src/NLU.DevOps.LuisV3.Tests/LuisNLUTestClientTests.cs
  src/NLU.DevOps.LuisV3/LuisNLUTestClient.cs
  src/NLU.DevOps.ModelPerformance.Tests/TestCaseSourceTests.cs
  src/NLU.DevOps.ModelPerformance/TestCaseSource.cs
  src/NLU.DevOps.Models/Entity.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Adds support for complex ML entities in LUIS V3
  src/NLU.DevOps.Core.Tests/LabeledUtterancePropertyExtensionsTests.cs
  src/NLU.DevOps.Core/JsonEntity.cs
  src/NLU.DevOps.Core/LabeledUtterancePropertyExtensions.cs
  src/NLU.DevOps.LuisV3.Tests/LuisNLUTestClientTests.cs
  src/NLU.DevOps.LuisV3/LuisNLUTestClient.cs
  src/NLU.DevOps.ModelPerformance.Tests/TestCaseSourceTests.cs
  src/NLU.DevOps.ModelPerformance/TestCaseSource.cs
  src/NLU.DevOps.Models/Entity.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Adds strict mode option to compare command
  src/NLU.DevOps.CommandLine/Compare/CompareCommand.cs
  src/NLU.DevOps.CommandLine/Compare/CompareOptions.cs
  src/NLU.DevOps.Core.Tests/LabeledUtterancePropertyExtensionsTests.cs
  src/NLU.DevOps.Core/LabeledUtterancePropertyExtensions.cs
  src/NLU.DevOps.ModelPerformance.Tests/TestCaseSourceTests.cs
  src/NLU.DevOps.ModelPerformance/ConfigurationConstants.cs
  src/NLU.DevOps.ModelPerformance/LabeledUtterancePropertyExtensions.cs
  src/NLU.DevOps.ModelPerformance/TestCaseSource.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Throws when trying to use staging with Speech SDK
  src/NLU.DevOps.Luis/LuisTestClient.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Throws when trying to use staging with Speech SDK (#272)
  src/NLU.DevOps.Luis/LuisTestClient.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Adds support for complex ML entities in LUIS V3 (#264)
  src/NLU.DevOps.LuisV3.Tests/LuisNLUTestClientTests.cs
  src/NLU.DevOps.LuisV3.Tests/NLU.DevOps.LuisV3.Tests.csproj
  src/NLU.DevOps.LuisV3.Tests/Resources/nested.json
  src/NLU.DevOps.LuisV3/LuisNLUTestClient.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Adds CLI option for custom true negative intent
  src/NLU.DevOps.CommandLine/Compare/CompareCommand.cs
  src/NLU.DevOps.CommandLine/Compare/CompareOptions.cs
  src/NLU.DevOps.ModelPerformance.Tests/TestCaseSourceTests.cs
  src/NLU.DevOps.ModelPerformance/ConfigurationConstants.cs
  src/NLU.DevOps.ModelPerformance/TestCaseSource.cs
  src/NLU.DevOps.ModelPerformance/TestOptions.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Splits command for F-measure and unit testing
  src/NLU.DevOps.CommandLine.Tests/Compare/CompareOptionsTests.cs
  src/NLU.DevOps.CommandLine/Benchmark/BenchmarkCommand.cs
  src/NLU.DevOps.CommandLine/Benchmark/BenchmarkOptions.cs
  src/NLU.DevOps.CommandLine/Compare/CompareCommand.cs
  src/NLU.DevOps.Core.Tests/LabeledUtterancePropertyExtensionsTests.cs
  src/NLU.DevOps.Core/LabeledUtterancePropertyExtensions.cs
  src/NLU.DevOps.ModelPerformance.Tests/NLU.DevOps.ModelPerformance.Tests.csproj
  src/NLU.DevOps.ModelPerformance.Tests/TestCaseSourceTests.cs
  src/NLU.DevOps.ModelPerformance.Tests/actual.json
  src/NLU.DevOps.ModelPerformance.Tests/expected.json
  src/NLU.DevOps.ModelPerformance/ConfigurationConstants.cs
  src/NLU.DevOps.ModelPerformance/LabeledUtteranceExtensions.cs
  src/NLU.DevOps.ModelPerformance/TestCaseSource.cs
  src/NLU.DevOps.ModelPerformance/TestSettings.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Fixes end-to-end tests
  models/compare.json
  pipelines/nlu-cli.yml
  src/NLU.DevOps.CommandLine/Benchmark/BenchmarkCommand.cs
  src/NLU.DevOps.CommandLine/Benchmark/BenchmarkOptions.cs
  src/NLU.DevOps.CommandLine/Compare/CompareCommand.cs
  src/NLU.DevOps.CommandLine/Compare/CompareOptions.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Adds unit tests for strict and not strict mode, global and local settings for strict and ignored entities and custom true negative intents.
  src/NLU.DevOps.CommandLine.Tests/Compare/CompareOptionsTests.cs
  src/NLU.DevOps.CommandLine/Compare/CompareOptions.cs
  src/NLU.DevOps.ModelPerformance.Tests/TestCaseSourceTests.cs
  src/NLU.DevOps.ModelPerformance/TestSettings.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Fixes issue with test settings base path.
  src/NLU.DevOps.CommandLine/Benchmark/BenchmarkCommand.cs
  src/NLU.DevOps.ModelPerformance/TestCaseSource.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Removing option to disable entity value tests (as you can already just not specify entity values)
  src/NLU.DevOps.ModelPerformance.Tests/TestCaseSourceTests.cs
  src/NLU.DevOps.ModelPerformance/TestSettings.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Minor bug fix
  src/NLU.DevOps.ModelPerformance/TestCaseSource.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Removes unnecessary line from compare config
  models/compare.json
Due: pipelines/nlu-extension.yml, pipelines/nlu.yml

Adds documentation for compare and benchmark commands
  README.md
  _config.yml
  docs/Analyze.md
Due: none

Fixing minor issues with benchmark command
  src/NLU.DevOps.CommandLine/Benchmark/BenchmarkCommand.cs
  src/NLU.DevOps.CommandLine/Program.cs
  src/NLU.DevOps.ModelPerformance/TestCaseSource.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

A few additional fixes to the docs.
  docs/Analyze.md
Due: none

Removes unnecessary appsettings.
  src/NLU.DevOps.CommandLine/Compare/CompareOptions.cs
  src/NLU.DevOps.ModelPerformance.Tests/NLU.DevOps.ModelPerformance.Tests.csproj
  src/NLU.DevOps.ModelPerformance.Tests/appsettings.json
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Splits command for F-measure and unit testing (#274)
  README.md
  _config.yml
  docs/Analyze.md
  docs/Compare.md
  models/compare.json
  pipelines/nlu-cli.yml
  src/NLU.DevOps.CommandLine.Tests/Compare/CompareOptionsTests.cs
  src/NLU.DevOps.CommandLine/Benchmark/BenchmarkCommand.cs
  src/NLU.DevOps.CommandLine/Benchmark/BenchmarkOptions.cs
  src/NLU.DevOps.CommandLine/Compare/CompareCommand.cs
  src/NLU.DevOps.CommandLine/Program.cs
  src/NLU.DevOps.Core.Tests/LabeledUtterancePropertyExtensionsTests.cs
  src/NLU.DevOps.Core/LabeledUtterancePropertyExtensions.cs
  src/NLU.DevOps.ModelPerformance.Tests/NLU.DevOps.ModelPerformance.Tests.csproj
  src/NLU.DevOps.ModelPerformance.Tests/TestCaseSourceTests.cs
  src/NLU.DevOps.ModelPerformance.Tests/actual.json
  src/NLU.DevOps.ModelPerformance.Tests/appsettings.json
  src/NLU.DevOps.ModelPerformance.Tests/expected.json
  src/NLU.DevOps.ModelPerformance/ConfigurationConstants.cs
  src/NLU.DevOps.ModelPerformance/LabeledUtteranceExtensions.cs
  src/NLU.DevOps.ModelPerformance/TestCaseSource.cs
  src/NLU.DevOps.ModelPerformance/TestSettings.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Adds option to compare NLU results to baseline
  src/NLU.DevOps.CommandLine/Benchmark/BenchmarkCommand.cs
  src/NLU.DevOps.Lex/LexNLUClientFactory.cs
  src/NLU.DevOps.ModelPerformance.Tests/ConfusionMatrixConverterTests.cs
  src/NLU.DevOps.ModelPerformance.Tests/NLUAccuracyTests.cs
  src/NLU.DevOps.ModelPerformance/ConfusionMatrix.cs
  src/NLU.DevOps.ModelPerformance/ConfusionMatrixConverter.cs
  src/NLU.DevOps.ModelPerformance/NLUAccuracy.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Adds more context to the output.
  src/NLU.DevOps.ModelPerformance.Tests/NLUAccuracyTests.cs
  src/NLU.DevOps.ModelPerformance/NLUAccuracy.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Removes unnecessary namespace.
  src/NLU.DevOps.CommandLine/Benchmark/BenchmarkOptions.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Adds documentation and makes minor fixes recommended by @saroup
  docs/Analyze.md
  src/NLU.DevOps.ModelPerformance/NLUAccuracy.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Adds option to compare NLU results to baseline (#275)
  docs/Analyze.md
  src/NLU.DevOps.CommandLine/Benchmark/BenchmarkCommand.cs
  src/NLU.DevOps.CommandLine/Benchmark/BenchmarkOptions.cs
  src/NLU.DevOps.Lex/LexNLUClientFactory.cs
  src/NLU.DevOps.ModelPerformance.Tests/ConfusionMatrixConverterTests.cs
  src/NLU.DevOps.ModelPerformance.Tests/NLUAccuracyTests.cs
  src/NLU.DevOps.ModelPerformance/ConfusionMatrix.cs
  src/NLU.DevOps.ModelPerformance/ConfusionMatrixConverter.cs
  src/NLU.DevOps.ModelPerformance/NLUAccuracy.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Fixes minor issue with configuration parsing
  src/NLU.DevOps.ModelPerformance.Tests/TestCaseSourceTests.cs
  src/NLU.DevOps.ModelPerformance.Tests/TestSettingsTests.cs
  src/NLU.DevOps.ModelPerformance/TestSettings.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Fixes minor issue with configuration parsing (#276)
  src/NLU.DevOps.ModelPerformance.Tests/TestCaseSourceTests.cs
  src/NLU.DevOps.ModelPerformance.Tests/TestSettingsTests.cs
  src/NLU.DevOps.ModelPerformance/TestSettings.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Fixes docs for compare and benchmark commands
  docs/AzurePipelines.md
  docs/UtteranceExtensions.md
Due: none

Re-integrates 'compare' and 'benchmark' commands
  docs/Analyze.md
  src/NLU.DevOps.CommandLine.Tests/Compare/CompareOptionsTests.cs
  src/NLU.DevOps.CommandLine/Benchmark/BenchmarkCommand.cs
  src/NLU.DevOps.CommandLine/Benchmark/BenchmarkOptions.cs
  src/NLU.DevOps.CommandLine/Compare/CompareCommand.cs
  src/NLU.DevOps.CommandLine/Compare/CompareOptions.cs
  src/NLU.DevOps.CommandLine/Program.cs
  src/NLU.DevOps.ModelPerformance.Tests/TestCaseSourceTests.cs
  src/NLU.DevOps.ModelPerformance.Tests/TestSettingsTests.cs
  src/NLU.DevOps.ModelPerformance/ConfigurationConstants.cs
  src/NLU.DevOps.ModelPerformance/TestCaseSource.cs
  src/NLU.DevOps.ModelPerformance/TestSettings.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Removes unnecessary using statement
  src/NLU.DevOps.CommandLine.Tests/Compare/CompareOptionsTests.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Fixes to reflect current state
  docs/UtteranceExtensions.md
Due: none

Re-integrates 'compare' and 'benchmark' commands (#283)
  docs/Analyze.md
  src/NLU.DevOps.CommandLine.Tests/Compare/CompareOptionsTests.cs
  src/NLU.DevOps.CommandLine/Benchmark/BenchmarkCommand.cs
  src/NLU.DevOps.CommandLine/Benchmark/BenchmarkOptions.cs
  src/NLU.DevOps.CommandLine/Compare/CompareCommand.cs
  src/NLU.DevOps.CommandLine/Compare/CompareOptions.cs
  src/NLU.DevOps.CommandLine/Program.cs
  src/NLU.DevOps.ModelPerformance.Tests/TestCaseSourceTests.cs
  src/NLU.DevOps.ModelPerformance.Tests/TestSettingsTests.cs
  src/NLU.DevOps.ModelPerformance/ConfigurationConstants.cs
  src/NLU.DevOps.ModelPerformance/TestCaseSource.cs
  src/NLU.DevOps.ModelPerformance/TestSettings.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Fixes docs for compare and benchmark commands (#281)
  docs/AzurePipelines.md
  docs/UtteranceExtensions.md
Due: none

Adds baseline compare behavior to AzDO extension
  extensions/tasks/NLUCleanV0/task.json
  extensions/tasks/NLUTestV0/__tests__/runTask.spec.ts
  extensions/tasks/NLUTestV0/artifacts.ts
  extensions/tasks/NLUTestV0/runTask.ts
  extensions/tasks/NLUTestV0/task.json
  extensions/tasks/NLUTrainV0/task.json
Due: pipelines/build-extension.yml, pipelines/extension-build.yml, pipelines/nlu-extension-build.yml

Bumps NuGet version to 0.7.1
  src/CommonNuget.props
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Bumps NuGet version to 0.7.1 (#284)
  src/CommonNuget.props
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Adds tests
  extensions/tasks/NLUTestV0/__tests__/runTask.spec.ts
  extensions/tasks/NLUTestV0/runTask.ts
Due: pipelines/build-extension.yml, pipelines/extension-build.yml, pipelines/nlu-extension-build.yml

Path conditions:
  pipelines/build-cli.yml: any of: pipelines/build-cli.yml, src
  pipelines/build-extension.yml: any of: extensions, pipelines/build-extension.yml
  pipelines/build.yml: any of: pipelines/build.yml, src
  pipelines/extension-build.yml: any of: extensions, pipelines/extension-build.yml
  pipelines/nlu-extension-build.yml: any of: extensions, pipelines/extension-build.yml
  pipelines/nlu-extension.yml: any of: pipelines/nlu-extension.yml, models, src
  pipelines/nlu-provider.yml: any of: pipelines/nlu-provider.yml, src
  pipelines/nlu.yml: any of: pipelines/nlu.yml, models, src
