Repository microsoft/NLU.DevOps: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/build-cli.yml, pipelines/build-extension.yml, pipelines/build.yml, pipelines/extension-build.yml, pipelines/nlu-cli.yml, pipelines/nlu-extension-build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

pipelines/build-cli.yml:
  queue:
    name: Hosted VS2017
  steps:
  - task: DotNetCoreCLI@2
    displayName: Build solution
    inputs:
      projects: src/NLU.DevOps.sln
      arguments: --configuration Release /warnaserror
  - task: DotNetCoreCLI@2
    displayName: Run tests
    inputs:
      command: test
      projects: '**/*[Tt]ests/*.csproj'
  ...

pipelines/build-extension.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NPM@1
    displayName: npm install
    inputs:
      command: install
      workingDir: extensions
  - task: NPM@1
    displayName: npm run lint
    inputs:
      command: custom
      customCommand: run lint
      workingDir: extensions
  - task: NPM@1
  ...

pipelines/build.yml:
  queue:
    name: Hosted VS2017
  steps:
  - task: DotNetCoreCLI@2
    displayName: Build solution
    inputs:
      projects: src/NLU.DevOps.sln
      arguments: --configuration Release /warnaserror
  - task: DotNetCoreCLI@2
    displayName: Run tests
    inputs:
      command: test
      projects: '**/*[Tt]ests/*.csproj'
  ...

pipelines/extension-build.yml:
  stages:
  - stage: Build
    jobs:
    - job: buildvsix
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NPM@1
        displayName: npm install
        inputs:
          command: install
          workingDir: extensions
      - task: NPM@1
        displayName: npm run lint
        inputs:
  ...

pipelines/nlu-cli.yml:
  steps:
  - task: DotNetCoreCLI@2
    displayName: Restore NuGet packages for NLU.DevOps
    inputs:
      command: restore
      projects: src/NLU.DevOps.sln
  - task: DotNetCoreCLI@2
    displayName: Create NuGet package for NLU.DevOps.CommandLine
    inputs:
      command: pack
  ...

pipelines/nlu-extension-build.yml:
  jobs:
  - job: build_vsix
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NPM@1
      displayName: npm install
      inputs:
        command: install
        workingDir: extensions
    - task: NPM@1
      displayName: npm run lint
      inputs:
        command: custom
        customCommand: run lint
  ...

pipelines/nlu-extension.yml:
  steps:
  - task: DotNetCoreCLI@2
    displayName: Restore NuGet packages for NLU.DevOps
    inputs:
      command: restore
      projects: src/NLU.DevOps.sln
  - task: DotNetCoreCLI@2
    displayName: Create NuGet package for NLU.DevOps.CommandLine
    inputs:
      command: pack
  ...

pipelines/nlu-provider.yml:
  steps:
  - task: DotNetCoreCLI@2
    displayName: Restore NuGet packages for NLU.DevOps
    inputs:
      command: restore
      projects: src/NLU.DevOps.sln
  - task: DotNetCoreCLI@2
    displayName: Create NuGet package for NLU.DevOps.CommandLine
    inputs:
      command: pack
  ...

Minor optimizations to CI pipeline (#342)
  .azdo/templates/jobs/build/cli.yml
  .azdo/templates/jobs/nlu/cli.yml
Due: none

Use latest download and publish artifacts approach
  .azdo/templates/jobs/build/cli.yml
  .azdo/templates/jobs/build/extension.yml
  .azdo/templates/jobs/nlu/cli.yml
  .azdo/templates/steps/install-dotnet-nlu.yml
  .config/nuget.config
Due: none

Use latest download and publish artifacts approach (#341)
  .azdo/templates/jobs/build/cli.yml
  .azdo/templates/jobs/build/extension.yml
  .azdo/templates/jobs/nlu/cli.yml
  .azdo/templates/steps/install-dotnet-nlu.yml
  .config/nuget.config
Due: none

Cleans up old pipelines and fixes documentation
  docs/AzurePipelines.md
  pipelines/build-cli.yml
  pipelines/build-extension.yml
  pipelines/nlu-cli.yml
  pipelines/nlu-extension.yml
  scripts/compare.py
Due: pipelines/build-cli.yml, pipelines/build-extension.yml, pipelines/nlu-cli.yml, pipelines/nlu-extension.yml

Cleans up old pipelines and fixes documentation (#340)
  docs/AzurePipelines.md
  pipelines/build-cli.yml
  pipelines/build-extension.yml
  pipelines/nlu-cli.yml
  pipelines/nlu-extension.yml
  scripts/compare.py
Due: pipelines/build-cli.yml, pipelines/build-extension.yml, pipelines/nlu-cli.yml, pipelines/nlu-extension.yml

Test commit
  .azdo/templates/jobs/nlu/cli.yml
Due: none

Fixes issue with where NLU results are downloaded
  .azdo/templates/jobs/nlu/cli.yml
Due: none

Fixes issue with where NLU results are downloaded (#345)
  .azdo/templates/jobs/nlu/cli.yml
Due: none

Adds support for entity hierarchies in compare
  src/NLU.DevOps.Core.Tests/JsonLabeledUtteranceConverterTests.cs
  src/NLU.DevOps.Core.Tests/NLU.DevOps.Core.Tests.csproj
  src/NLU.DevOps.Core/EntityConverter.cs
  src/NLU.DevOps.Core/HierarchicalEntity.cs
  src/NLU.DevOps.Core/IHierarchicalEntity.cs
  src/NLU.DevOps.Core/JsonEntities.cs
  src/NLU.DevOps.Core/JsonLabeledUtteranceConverter.cs
  src/NLU.DevOps.LuisV3.Tests/LuisNLUTestClientTests.cs
  src/NLU.DevOps.LuisV3/LuisNLUTestClient.cs
  src/NLU.DevOps.ModelPerformance.Tests/TestCaseSourceTests.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-cli.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Leverage "Retry-After" usage to LUIS API calls
  src/NLU.DevOps.Luis.Shared/ILuisTrainClient.cs
  src/NLU.DevOps.Luis.Shared/LuisNLUTrainClient.cs
  src/NLU.DevOps.Luis.Shared/LuisTrainClient.cs
  src/NLU.DevOps.Luis.Shared/NLU.DevOps.Luis.Shared.projitems
  src/NLU.DevOps.Luis.Shared/OperationResponse.Generic.cs
  src/NLU.DevOps.Luis.Shared/OperationResponse.cs
  src/NLU.DevOps.Luis.Shared/Retry.cs
  src/NLU.DevOps.Luis.Tests.Shared/LuisNLUTrainClientTests.cs
  src/NLU.DevOps.Luis/LuisTestClient.cs
  src/NLU.DevOps.LuisV3/LuisTestClient.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-cli.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

#349 [Jorge] Updating target framework to use dotnet core 3.1
  src/NLU.DevOps.CommandLine.Tests/NLU.DevOps.CommandLine.Tests.csproj
  src/NLU.DevOps.CommandLine/NLU.DevOps.CommandLine.csproj
  src/NLU.DevOps.Core.Tests/NLU.DevOps.Core.Tests.csproj
  src/NLU.DevOps.Core/NLU.DevOps.Core.csproj
  src/NLU.DevOps.Dialogflow.Tests/NLU.DevOps.Dialogflow.Tests.csproj
  src/NLU.DevOps.Dialogflow/NLU.DevOps.Dialogflow.csproj
  src/NLU.DevOps.Lex.Tests/NLU.DevOps.Lex.Tests.csproj
  src/NLU.DevOps.Lex/NLU.DevOps.Lex.csproj
  src/NLU.DevOps.Luis.Tests/NLU.DevOps.Luis.Tests.csproj
  src/NLU.DevOps.Luis/NLU.DevOps.Luis.csproj
  src/NLU.DevOps.LuisV3.Tests/NLU.DevOps.LuisV3.Tests.csproj
  src/NLU.DevOps.LuisV3/NLU.DevOps.LuisV3.csproj
  src/NLU.DevOps.MockProvider/NLU.DevOps.MockProvider.csproj
  src/NLU.DevOps.ModelPerformance.Tests/NLU.DevOps.ModelPerformance.Tests.csproj
  src/NLU.DevOps.ModelPerformance/NLU.DevOps.ModelPerformance.csproj
  src/NLU.DevOps.Models/NLU.DevOps.Models.csproj
  src/NLU.DevOps.sln
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-cli.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Path conditions:
  pipelines/build-cli.yml: any of: pipelines/build-cli.yml, src
  pipelines/build-extension.yml: any of: extensions, pipelines/build-extension.yml
  pipelines/build.yml: any of: pipelines/build.yml, src
  pipelines/extension-build.yml: any of: extensions, pipelines/extension-build.yml
  pipelines/nlu-cli.yml: any of: pipelines/nlu-cli.yml, models, src
  pipelines/nlu-extension-build.yml: any of: extensions, pipelines/extension-build.yml
  pipelines/nlu-extension.yml: any of: pipelines/nlu-extension.yml, models, src
  pipelines/nlu-provider.yml: any of: pipelines/nlu-provider.yml, src
  pipelines/nlu.yml: any of: pipelines/nlu.yml, models, src
