Repository microsoft/NLU.DevOps: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/build-cli.yml, pipelines/build-extension.yml, pipelines/build.yml, pipelines/extension-build.yml, pipelines/nlu-cli.yml, pipelines/nlu-extension-build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

pipelines/build-cli.yml:
  queue:
    name: Hosted VS2017
  steps:
  - task: DotNetCoreCLI@2
    displayName: Build solution
    inputs:
      projects: src/NLU.DevOps.sln
      arguments: --configuration Release /warnaserror
  - task: DotNetCoreCLI@2
    displayName: Run tests
    inputs:
      command: test
      projects: '**/*[Tt]ests/*.csproj'
  ...

pipelines/build-extension.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NPM@1
    displayName: npm install
    inputs:
      command: install
      workingDir: extensions
  - task: NPM@1
    displayName: npm run lint
    inputs:
      command: custom
      customCommand: run lint
      workingDir: extensions
  - task: NPM@1
  ...

pipelines/build.yml:
  queue:
    name: Hosted VS2017
  steps:
  - task: DotNetCoreCLI@2
    displayName: Build solution
    inputs:
      projects: src/NLU.DevOps.sln
      arguments: --configuration Release /warnaserror
  - task: DotNetCoreCLI@2
    displayName: Run tests
    inputs:
      command: test
      projects: '**/*[Tt]ests/*.csproj'
  ...

pipelines/extension-build.yml:
  stages:
  - stage: Build
    jobs:
    - job: buildvsix
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NPM@1
        displayName: npm install
        inputs:
          command: install
          workingDir: extensions
      - task: NPM@1
        displayName: npm run lint
        inputs:
  ...

pipelines/nlu-cli.yml:
  steps:
  - task: DotNetCoreCLI@2
    displayName: Restore NuGet packages for NLU.DevOps
    inputs:
      command: restore
      projects: src/NLU.DevOps.sln
  - task: DotNetCoreCLI@2
    displayName: Create NuGet package for NLU.DevOps.CommandLine
    inputs:
      command: pack
  ...

pipelines/nlu-extension-build.yml:
  jobs:
  - job: build_vsix
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NPM@1
      displayName: npm install
      inputs:
        command: install
        workingDir: extensions
    - task: NPM@1
      displayName: npm run lint
      inputs:
        command: custom
        customCommand: run lint
  ...

pipelines/nlu-extension.yml:
  steps:
  - task: DotNetCoreCLI@2
    displayName: Restore NuGet packages for NLU.DevOps
    inputs:
      command: restore
      projects: src/NLU.DevOps.sln
  - task: DotNetCoreCLI@2
    displayName: Create NuGet package for NLU.DevOps.CommandLine
    inputs:
      command: pack
  ...

pipelines/nlu-provider.yml:
  steps:
  - task: DotNetCoreCLI@2
    displayName: Restore NuGet packages for NLU.DevOps
    inputs:
      command: restore
      projects: src/NLU.DevOps.sln
  - task: DotNetCoreCLI@2
    displayName: Create NuGet package for NLU.DevOps.CommandLine
    inputs:
      command: pack
  ...

Fixes bug for NLU threshold test
  src/NLU.DevOps.ModelPerformance/NLUAccuracy.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-cli.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Bumps NuGet version to 0.7.5 (#304)
  src/CommonNuget.props
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-cli.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Fixes transient error handling for Luis
  src/NLU.DevOps.Luis.Shared/LuisNLUTrainClient.cs
  src/NLU.DevOps.Luis.Shared/LuisTrainClient.cs
  src/NLU.DevOps.Luis.Shared/NLU.DevOps.Luis.Shared.projitems
  src/NLU.DevOps.Luis.Shared/RetryPolicy.cs
  src/NLU.DevOps.Luis/LuisTestClient.cs
  src/NLU.DevOps.LuisV3/LuisTestClient.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-cli.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Fixes transient error handling for LUIS (#306)
  src/NLU.DevOps.Luis.Shared/LuisNLUTrainClient.cs
  src/NLU.DevOps.Luis.Shared/LuisTrainClient.cs
  src/NLU.DevOps.Luis.Shared/NLU.DevOps.Luis.Shared.projitems
  src/NLU.DevOps.Luis.Shared/RetryPolicy.cs
  src/NLU.DevOps.Luis/LuisTestClient.cs
  src/NLU.DevOps.LuisV3/LuisTestClient.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-cli.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

test
  models/tests.json
Due: pipelines/nlu-cli.yml, pipelines/nlu-extension.yml, pipelines/nlu.yml

test
  src/NLU.DevOps.Luis/LuisTestClient.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-cli.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

s
  pipelines/nlu-cli.yml
Due: pipelines/nlu-cli.yml

Adds logic to retry on LUIS HTTP 500 errors
  src/NLU.DevOps.Luis.Shared/LuisNLUTrainClient.cs
  src/NLU.DevOps.Luis/LuisTestClient.cs
  src/NLU.DevOps.LuisV3/LuisTestClient.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-cli.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Adds logic to retry on LUIS HTTP 500 errors (#308)
  src/NLU.DevOps.Luis.Shared/LuisNLUTrainClient.cs
  src/NLU.DevOps.Luis/LuisTestClient.cs
  src/NLU.DevOps.LuisV3/LuisTestClient.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-cli.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Fixes minor issues in CLI experience
  src/NLU.DevOps.CommandLine/Clean/CleanCommand.cs
  src/NLU.DevOps.CommandLine/EnumerableExtensions.cs
  src/NLU.DevOps.CommandLine/Test/TestCommand.cs
  src/NLU.DevOps.CommandLine/Train/TrainCommand.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-cli.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Elevate blocking behavior to `Main` entry point.
  src/NLU.DevOps.CommandLine.Tests/BaseCommandMock.cs
  src/NLU.DevOps.CommandLine.Tests/Clean/CleanCommandTests.cs
  src/NLU.DevOps.CommandLine.Tests/Test/TestCommandTests.cs
  src/NLU.DevOps.CommandLine.Tests/Train/TrainCommandTests.cs
  src/NLU.DevOps.CommandLine/BaseCommand.cs
  src/NLU.DevOps.CommandLine/Clean/CleanCommand.cs
  src/NLU.DevOps.CommandLine/ICommand.cs
  src/NLU.DevOps.CommandLine/Program.cs
  src/NLU.DevOps.CommandLine/Test/TestCommand.cs
  src/NLU.DevOps.CommandLine/Train/TrainCommand.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-cli.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Adds option to customize the regression metric
  src/NLU.DevOps.ModelPerformance.Tests/NLUAccuracyTests.cs
  src/NLU.DevOps.ModelPerformance/NLUAccuracy.cs
  src/NLU.DevOps.ModelPerformance/NLUThreshold.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-cli.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Adds option to customize the regression metric (#314)
  src/NLU.DevOps.ModelPerformance.Tests/NLUAccuracyTests.cs
  src/NLU.DevOps.ModelPerformance/NLUAccuracy.cs
  src/NLU.DevOps.ModelPerformance/NLUThreshold.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-cli.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Adds option to set absolute thresholds
  src/NLU.DevOps.ModelPerformance.Tests/NLUAccuracyTests.cs
  src/NLU.DevOps.ModelPerformance/NLUAccuracy.cs
  src/NLU.DevOps.ModelPerformance/NLUThreshold.cs
  src/NLU.DevOps.ModelPerformance/NLUThresholdKind.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-cli.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Fixes minor issue with awaiting command completion.
  src/NLU.DevOps.CommandLine/Program.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-cli.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Fixes minor issues in CLI experience (#310)
  src/NLU.DevOps.CommandLine.Tests/BaseCommandMock.cs
  src/NLU.DevOps.CommandLine.Tests/Clean/CleanCommandTests.cs
  src/NLU.DevOps.CommandLine.Tests/Test/TestCommandTests.cs
  src/NLU.DevOps.CommandLine.Tests/Train/TrainCommandTests.cs
  src/NLU.DevOps.CommandLine/BaseCommand.cs
  src/NLU.DevOps.CommandLine/Clean/CleanCommand.cs
  src/NLU.DevOps.CommandLine/EnumerableExtensions.cs
  src/NLU.DevOps.CommandLine/ICommand.cs
  src/NLU.DevOps.CommandLine/Program.cs
  src/NLU.DevOps.CommandLine/Test/TestCommand.cs
  src/NLU.DevOps.CommandLine/Train/TrainCommand.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-cli.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Bumps NuGet version to 0.8.0
  src/CommonNuget.props
  src/NLU.DevOps.Core/NLU.DevOps.Core.csproj
  src/NLU.DevOps.Models/NLU.DevOps.Models.csproj
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-cli.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Refactors utterance and entity types to interfaces
  src/NLU.DevOps.CommandLine.Tests/MockNLUTrainClient.cs
  src/NLU.DevOps.CommandLine.Tests/Test/TestCommandTests.cs
  src/NLU.DevOps.CommandLine/Test/TestCommand.cs
  src/NLU.DevOps.CommandLine/Train/TrainCommand.cs
  src/NLU.DevOps.Core/DefaultNLUTestClient.cs
  src/NLU.DevOps.Core/Entity.cs
  src/NLU.DevOps.Core/EntityExtensions.cs
  src/NLU.DevOps.Core/JsonLabeledUtterance.cs
  src/NLU.DevOps.Core/LabeledUtterance.cs
  src/NLU.DevOps.Core/LabeledUtterancePropertyExtensions.cs
  src/NLU.DevOps.Core/NLUTestClientBase.cs
  src/NLU.DevOps.Dialogflow/DialogflowNLUTestClient.cs
  src/NLU.DevOps.Lex.Tests/LexNLUClientExtensions.cs
  src/NLU.DevOps.Lex.Tests/LexNLUTrainClientTests.cs
  src/NLU.DevOps.Lex/LexNLUTestClient.cs
  src/NLU.DevOps.Lex/LexNLUTrainClient.cs
  src/NLU.DevOps.Luis.Shared/LabeledUtteranceExtensions.cs
  src/NLU.DevOps.Luis.Shared/LuisNLUTrainClient.cs
  src/NLU.DevOps.Luis.Tests.Shared/LuisNLUTestClientExtensions.cs
  src/NLU.DevOps.Luis.Tests.Shared/LuisNLUTrainClientTests.cs
  src/NLU.DevOps.Luis/LuisNLUTestClient.cs
  src/NLU.DevOps.LuisV3/LuisNLUTestClient.cs
  src/NLU.DevOps.MockProvider/MockNLUClient.cs
  src/NLU.DevOps.ModelPerformance.Tests/TestCaseSourceTests.cs
  src/NLU.DevOps.ModelPerformance/LabeledUtteranceExtensions.cs
  src/NLU.DevOps.ModelPerformance/TestCase.cs
  src/NLU.DevOps.ModelPerformance/TestCaseSource.cs
  src/NLU.DevOps.Models/IEntity.cs
  src/NLU.DevOps.Models/ILabeledUtterance.cs
  src/NLU.DevOps.Models/INLUTestClient.cs
  src/NLU.DevOps.Models/INLUTrainClient.cs
  src/NLU.DevOps.Models/NLUClientExtensions.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-cli.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

test
  src/NLU.DevOps.CommandLine/Train/TrainCommand.cs
  src/NLU.DevOps.Core.Tests/LabeledUtterancePropertyExtensionsTests.cs
  src/NLU.DevOps.Core/Entity.cs
  src/NLU.DevOps.Core/JsonEntity.cs
  src/NLU.DevOps.Core/JsonExtensionExtensions.cs
  src/NLU.DevOps.Core/JsonLabeledUtterance.cs
  src/NLU.DevOps.Core/LabeledUtterance.cs
  src/NLU.DevOps.Dialogflow.Tests/DialogflowNLUTestClientTests.cs
  src/NLU.DevOps.Lex.Tests/LexNLUTestClientTests.cs
  src/NLU.DevOps.Lex/LexNLUTestClient.cs
  src/NLU.DevOps.Luis.Tests/LuisNLUTestClientTests.cs
  src/NLU.DevOps.LuisV3.Tests/LuisNLUTestClientTests.cs
  src/NLU.DevOps.ModelPerformance.Tests/TestCaseSourceTests.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-cli.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Adds false positive intents in unit test mode
  src/NLU.DevOps.CommandLine/Compare/CompareCommand.cs
  src/NLU.DevOps.CommandLine/Serializer.cs
  src/NLU.DevOps.CommandLine/Train/TrainCommand.cs
  src/NLU.DevOps.Core.Tests/JsonExtensionExtensionsTests.cs
  src/NLU.DevOps.Core.Tests/JsonLabeledUtteranceConverterTests.cs
  src/NLU.DevOps.Core.Tests/LabeledUtteranceConverterTests.cs
  src/NLU.DevOps.Core/Entity.cs
  src/NLU.DevOps.Core/EntityConverter.cs
  src/NLU.DevOps.Core/JsonEntities.cs
  src/NLU.DevOps.Core/JsonEntity.cs
  src/NLU.DevOps.Core/JsonExtensionExtensions.cs
  src/NLU.DevOps.Core/JsonLabeledUtterance.cs
  src/NLU.DevOps.Core/JsonLabeledUtteranceConverter.cs
  src/NLU.DevOps.Core/LabeledUtterance.cs
  src/NLU.DevOps.Dialogflow.Tests/DialogflowNLUTestClientTests.cs
  src/NLU.DevOps.Lex.Tests/LexNLUTestClientTests.cs
  src/NLU.DevOps.Lex/LexNLUTestClient.cs
  src/NLU.DevOps.Luis.Tests/LuisNLUTestClientTests.cs
  src/NLU.DevOps.LuisV3.Tests/LuisNLUTestClientTests.cs
  src/NLU.DevOps.ModelPerformance.Tests/TestCaseSourceTests.cs
  src/NLU.DevOps.ModelPerformance/TestCaseSource.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-cli.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Testing .NET Core tool restore
  .config/dotnet-tools.json
  .nuget/NuGet.config
  pipelines/nlu-cli.yml
  pipelines/nlu-extension.yml
Due: pipelines/nlu-cli.yml, pipelines/nlu-extension.yml

Improves documentation for compare and CI setup
  docs/Analyze.md
  docs/AzurePipelines.md
Due: none

Adds support for running from .NET tool manifest
  src/NLU.DevOps.CommandLine/ServiceResolver.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-cli.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Adds example for evaluating performance regression
  docs/Analyze.md
Due: none

Adds experimental use of LUIS batch testing
  src/NLU.DevOps.CommandLine/Test/TestCommand.cs
  src/NLU.DevOps.Core/EnumerableExtensions.cs
  src/NLU.DevOps.Luis.Shared/ILuisBatchTestClient.cs
  src/NLU.DevOps.Luis.Shared/ILuisConfiguration.cs
  src/NLU.DevOps.Luis.Shared/LuisBatchStatusInfo.cs
  src/NLU.DevOps.Luis.Shared/LuisBatchTestClient.cs
  src/NLU.DevOps.Luis.Shared/LuisConfiguration.cs
  src/NLU.DevOps.Luis.Shared/LuisConfigurationExtensions.cs
  src/NLU.DevOps.Luis.Shared/LuisNLUBatchTestClientBase.cs
  src/NLU.DevOps.Luis.Shared/NLU.DevOps.Luis.Shared.projitems
  src/NLU.DevOps.Luis.Shared/OperationResponse.Generic.cs
  src/NLU.DevOps.Luis.Shared/OperationResponse.cs
  src/NLU.DevOps.Luis.Shared/Retry.cs
  src/NLU.DevOps.Luis.Tests/LuisNLUTestClientTests.cs
  src/NLU.DevOps.Luis/LuisNLUClientFactory.cs
  src/NLU.DevOps.Luis/LuisNLUTestClient.cs
  src/NLU.DevOps.LuisV3.Tests/LuisNLUTestClientTests.cs
  src/NLU.DevOps.LuisV3/LuisNLUClientFactory.cs
  src/NLU.DevOps.LuisV3/LuisNLUTestClient.cs
  src/NLU.DevOps.LuisV3/LuisTestClient.cs
  src/NLU.DevOps.Models/INLUBatchTestClient.cs
  src/NLU.DevOps.Models/NLUClientExtensions.cs
Due: pipelines/build-cli.yml, pipelines/build.yml, pipelines/nlu-cli.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Unifies pipelines for CLI, extension and release
  .azdo/cli.yml
  .azdo/extension.yml
  .azdo/templates/jobs/build/cli.yml
  .azdo/templates/jobs/build/extension.yml
  .azdo/templates/jobs/nlu/cli.yml
  .azdo/templates/jobs/nlu/extension.yml
  .azdo/templates/jobs/publish/cli.yml
  .azdo/templates/jobs/publish/extension.yml
  .azdo/templates/stages/build.yml
  .azdo/templates/stages/nlu.yml
  .azdo/templates/stages/publish.yml
  .azdo/templates/steps/get-artifact-name.yml
  .azdo/templates/steps/install-dotnet-nlu.yml
  .azdo/templates/variables/build.yml
  .azdo/templates/variables/cli.yml
  .azdo/templates/variables/extension.yml
  .config/dotnet-tools.json
  extensions/package.json
  extensions/vss-extension.json
  src/CommonNuget.props
  src/NLU.DevOps.Core/NLU.DevOps.Core.csproj
  src/NLU.DevOps.Models/NLU.DevOps.Models.csproj
Due: pipelines/build-cli.yml, pipelines/build-extension.yml, pipelines/build.yml, pipelines/extension-build.yml, pipelines/nlu-cli.yml, pipelines/nlu-extension-build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Unifies pipelines for CLI, extension and release (#338)
  .azdo/cli.yml
  .azdo/extension.yml
  .azdo/templates/jobs/build/cli.yml
  .azdo/templates/jobs/build/extension.yml
  .azdo/templates/jobs/nlu/cli.yml
  .azdo/templates/jobs/nlu/extension.yml
  .azdo/templates/jobs/publish/cli.yml
  .azdo/templates/jobs/publish/extension.yml
  .azdo/templates/stages/build.yml
  .azdo/templates/stages/nlu.yml
  .azdo/templates/stages/publish.yml
  .azdo/templates/steps/get-artifact-name.yml
  .azdo/templates/steps/install-dotnet-nlu.yml
  .azdo/templates/variables/build.yml
  .azdo/templates/variables/cli.yml
  .azdo/templates/variables/extension.yml
  .config/dotnet-tools.json
  extensions/package.json
  extensions/vss-extension.json
  src/CommonNuget.props
  src/NLU.DevOps.Core/NLU.DevOps.Core.csproj
  src/NLU.DevOps.Models/NLU.DevOps.Models.csproj
Due: pipelines/build-cli.yml, pipelines/build-extension.yml, pipelines/build.yml, pipelines/extension-build.yml, pipelines/nlu-cli.yml, pipelines/nlu-extension-build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Removes build tag from NLUTest extension
  extensions/tasks/NLUTestV0/__tests__/runTask.spec.ts
  extensions/tasks/NLUTestV0/runTask.ts
Due: pipelines/build-extension.yml, pipelines/extension-build.yml, pipelines/nlu-extension-build.yml

Removes build tag from NLUTest extension (#343)
  extensions/tasks/NLUTestV0/__tests__/runTask.spec.ts
  extensions/tasks/NLUTestV0/runTask.ts
Due: pipelines/build-extension.yml, pipelines/extension-build.yml, pipelines/nlu-extension-build.yml

Minor optimizations to CI pipeline
  .azdo/templates/jobs/build/cli.yml
  .azdo/templates/jobs/nlu/cli.yml
Due: none

Path conditions:
  pipelines/build-cli.yml: any of: pipelines/build-cli.yml, src
  pipelines/build-extension.yml: any of: extensions, pipelines/build-extension.yml
  pipelines/build.yml: any of: pipelines/build.yml, src
  pipelines/extension-build.yml: any of: extensions, pipelines/extension-build.yml
  pipelines/nlu-cli.yml: any of: pipelines/nlu-cli.yml, models, src
  pipelines/nlu-extension-build.yml: any of: extensions, pipelines/extension-build.yml
  pipelines/nlu-extension.yml: any of: pipelines/nlu-extension.yml, models, src
  pipelines/nlu-provider.yml: any of: pipelines/nlu-provider.yml, src
  pipelines/nlu.yml: any of: pipelines/nlu.yml, models, src
