Repository microsoft/NLU.DevOps: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu.yml

Path conditions:
  pipelines/build.yml: any of: pipelines/build.yml, src
  pipelines/nlu-extension.yml: any of: pipelines/nlu-extension.yml, models, src
  pipelines/nlu.yml: any of: pipelines/nlu.yml, models, src

Adds icon for Azure DevOps exension
  extensions/images/icon.png
  extensions/vss-extension.json
Due: none

Switches Azure DevOps extension manifest to public
  extensions/vss-extension.json
Due: none

Updates patch versions of task extensions
  extensions/common/nlu-devops-common/package.json
  extensions/tasks/NLUCleanV0/package.json
  extensions/tasks/NLUCleanV0/task.json
  extensions/tasks/NLUTestV0/package.json
  extensions/tasks/NLUTestV0/task.json
  extensions/tasks/NLUTrainV0/package.json
  extensions/tasks/NLUTrainV0/task.json
  extensions/vss-extension.json
Due: none

Adds Azure DevOps task extension for NLU.DevOps commands
  extensions/.editorconfig
  extensions/.gitignore
  extensions/common/nlu-devops-common/package.json
  extensions/common/nlu-devops-common/utilities/index.ts
  extensions/common/tsconfig.json
  extensions/package.json
  extensions/tasks/NLUCleanV0/index.ts
  extensions/tasks/NLUCleanV0/package.json
  extensions/tasks/NLUCleanV0/task.json
  extensions/tasks/NLUTestV0/index.ts
  extensions/tasks/NLUTestV0/package.json
  extensions/tasks/NLUTestV0/task.json
  extensions/tasks/NLUTrainV0/index.ts
  extensions/tasks/NLUTrainV0/package.json
  extensions/tasks/NLUTrainV0/task.json
  extensions/tasks/tsconfig.json
  extensions/tslint.json
  extensions/vss-extension.json
Due: none

Publish test results to Azure DevOps tab
  extensions/tasks/NLUTestV0/index.ts
Due: none

Adds overview document to summarize Azure DevOps extension
  extensions/overview.md
  extensions/vss-extension.json
Due: none

Adds pipeline that uses local build of NLU.DevOps .nupkg
  pipelines/nlu-extension.yml
Due: pipelines/nlu-extension.yml

Adds path-based credentials to Dialogflow NLU provider.
  src/NLU.DevOps.DialogFlow/DialogFlowNLUTestClient.cs
Due: pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu.yml

Fixes issue with ServiceResolver from .NET Core tools folder
  src/NLU.DevOps.CommandLine/ServiceResolver.cs
Due: pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu.yml

Bumps NuGet version to 0.3.4
  src/CommonNuget.props
Due: pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu.yml

Updates documentation to reflect latest changes to NLU.DevOps
  README.md
  _config.yml
  docs/AzurePipelines.md
  docs/Clean.md
  docs/CliExtensions.md
  docs/Compare.md
  docs/DialogflowEndpointConfiguration.md
  docs/GenericUtterances.md
  docs/LexEndpointConfiguration.md
  docs/LexModelConfiguration.md
  docs/LuisEndpointConfiguration.md
  docs/LuisModelConfiguration.md
  docs/LuisSecrets.md
  docs/LuisSettings.md
  docs/NLUCleanTask.md
  docs/NLUTestTask.md
  docs/NLUTrainTask.md
  docs/Test.md
  docs/Train.md
  extensions/overview.md
  extensions/tasks/NLUCleanV0/task.json
  extensions/tasks/NLUTestV0/index.ts
  extensions/tasks/NLUTrainV0/index.ts
  extensions/tasks/NLUTrainV0/task.json
  pipelines/nlu.yml
  src/NLU.DevOps.CommandLine.Tests/NLUServiceFactoryTests.cs
  src/NLU.DevOps.CommandLine/Clean/CleanCommand.cs
  src/NLU.DevOps.CommandLine/Clean/CleanOptions.cs
  src/NLU.DevOps.CommandLine/NLUClientFactory.cs
  src/NLU.DevOps.CommandLine/Test/TestCommand.cs
  src/NLU.DevOps.CommandLine/Test/TestOptions.cs
  src/NLU.DevOps.CommandLine/Train/TrainCommand.cs
  src/NLU.DevOps.CommandLine/Train/TrainOptions.cs
  src/NLU.DevOps.Core/ApplicationLogger.cs
  src/NLU.DevOps.Core/DefaultNLUTestClient.cs
  src/NLU.DevOps.Core/INLUClientFactory.cs
  src/NLU.DevOps.Core/NLUTestClientBase.cs
  src/NLU.DevOps.DialogFlow/DialogFlowNLUClientFactory.cs
  src/NLU.DevOps.Models/INLUTestClient.cs
  src/NLU.DevOps.Models/INLUTrainClient.cs
Due: pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu.yml

Adds Azure Pipeline for custom NLU provider
  pipelines/nlu-provider.yml
Due: none

Minor fix to README
  README.md
Due: none

Adds PR triggers to YAML configuration for pipelines
  pipelines/build.yml
  pipelines/nlu-extension.yml
  pipelines/nlu-provider.yml
  pipelines/nlu.yml
Due: pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu.yml

Fixes issue with ServiceResolver assembly search
  src/NLU.DevOps.CommandLine/ServiceResolver.cs
Due: pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu.yml

Bumps NuGet version to 0.3.5
  src/CommonNuget.props
Due: pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu.yml

Adds support for LUIS v3 query format and batch test format
  src/NLU.DevOps.CommandLine/Serializer.cs
  src/NLU.DevOps.Core.Tests/GlobalSuppressions.cs
  src/NLU.DevOps.Core.Tests/LabeledUtteranceConverterTests.cs
  src/NLU.DevOps.Core.Tests/NLU.DevOps.Core.Tests.csproj
  src/NLU.DevOps.Core/LabeledUtteranceConverter.cs
  src/NLU.DevOps.ModelPerformance/NLU.DevOps.ModelPerformance.csproj
  src/NLU.DevOps.ModelPerformance/TestCaseSource.cs
  src/NLU.DevOps.sln
Due: pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu.yml

Fixed args for model train
  extensions/tasks/NLUTrainV0/index.ts
Due: none

Update index.ts
  extensions/tasks/NLUTrainV0/index.ts
Due: none

Makes 'utterances' input optional in NLUTrain (#102)
  extensions/tasks/NLUTrainV0/index.ts
Due: none

Apply LabeledUtteranceConverter on read rather than write
  src/NLU.DevOps.CommandLine/Serializer.cs
Due: pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu.yml

Bumps NuGet version to 0.3.6
  src/CommonNuget.props
Due: pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu.yml

Apply LabeledUtteranceConverter on read rather than write (#104)
  src/NLU.DevOps.CommandLine/Serializer.cs
Due: pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu.yml

Bumps NuGet version to 0.3.6 (#105)
  src/CommonNuget.props
Due: pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu.yml

Update NLUTestTask.md
  docs/NLUTestTask.md
Due: none

Update NLUTestTask.md to include LUIS batch test format support info (#106)
  docs/NLUTestTask.md
Due: none

Fixes local prepend PATH for Windows
  extensions/common/nlu-devops-common/package.json
  extensions/common/nlu-devops-common/utilities/index.ts
  extensions/tasks/NLUCleanV0/package.json
  extensions/tasks/NLUCleanV0/task.json
  extensions/tasks/NLUTestV0/package.json
  extensions/tasks/NLUTestV0/task.json
  extensions/tasks/NLUTrainV0/package.json
  extensions/tasks/NLUTrainV0/task.json
  extensions/vss-extension.json
Due: none
