Repository microsoft/NLU.DevOps: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/build.yml, pipelines/extension-build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

pipelines/build.yml:
  queue:
    name: Hosted VS2017
  steps:
  - task: DotNetCoreCLI@2
    displayName: Build solution
    inputs:
      projects: src/NLU.DevOps.sln
      arguments: --configuration Release /warnaserror
  - task: DotNetCoreCLI@2
    displayName: Run tests
    inputs:
      command: test
      projects: '**/*[Tt]ests/*.csproj'
  ...

pipelines/extension-build.yml:
  stages:
  - stage: Build
    jobs:
    - job: buildvsix
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NPM@1
        displayName: npm install
        inputs:
          command: install
          workingDir: extensions
      - task: NPM@1
        displayName: npm run lint
        inputs:
  ...

pipelines/nlu-extension.yml:
  steps:
  - task: DotNetCoreCLI@2
    displayName: Restore NuGet packages for NLU.DevOps
    inputs:
      command: restore
      projects: src/NLU.DevOps.sln
  - task: DotNetCoreCLI@2
    displayName: Create NuGet package for NLU.DevOps.CommandLine
    inputs:
      command: pack
  ...

pipelines/nlu-provider.yml:
  steps:
  - task: DotNetCoreCLI@2
    displayName: Build NLU.DevOps solution
    inputs:
      projects: src/NLU.DevOps.sln
      arguments: --configuration Release /warnaserror
  - task: DotNetCoreCLI@2
    displayName: Create NuGet package for NLU.DevOps.CommandLine
    inputs:
      command: pack
  ...

pipelines/nlu.yml:
  steps:
  - task: DotNetCoreCLI@2
    displayName: Build NLU.DevOps solution
    inputs:
      projects: src/NLU.DevOps.sln
      arguments: --configuration Release /warnaserror
  - task: DotNetCoreCLI@2
    displayName: Create NuGet package for NLU.DevOps.CommandLine
    inputs:
      command: pack
  ...

Updates CLI extension docs to use mock provider
  docs/CliExtensions.md
Due: none

Use mock provider for Azure DevOps extension tests
  models/tests.json
  pipelines/nlu-extension.yml
Due: pipelines/nlu-extension.yml, pipelines/nlu.yml

Removing unnecessary code from recent commit
  src/NLU.DevOps.ModelPerformance.Tests/NLU.DevOps.ModelPerformance.Tests.csproj
Due: pipelines/build.yml, pipelines/nlu-extension.yml, pipelines/nlu-provider.yml, pipelines/nlu.yml

Added pipelines to test and release extension
  models/luismodel.json
  pipelines/test-release.yml
Due: pipelines/nlu-extension.yml, pipelines/nlu.yml

Adds infrastructure for passing NLU results to Azure Pipelines tab
  extensions/package.json
  extensions/tabs/NLUResults.html
  extensions/tabs/package.json
  extensions/tasks/NLUTestV0/index.ts
  extensions/tasks/NLUTestV0/package.json
  extensions/tasks/NLUTestV0/task.json
  extensions/tslint.json
  extensions/vss-extension.json
  pipelines/test-release.yml
Due: pipelines/extension-build.yml

Review fixes
  pipelines/nlu-extension-build.yml
  pipelines/nlu-extension-test.yml
Due: none

Deleted trigger and changed naming
  pipelines/nlu-extension-build.yml
  pipelines/nlu-extension-test.yml
Due: none

Added manual intervention to release
  pipelines/nlu-extension-test.yml
Due: none

No condition
  pipelines/nlu-extension-test.yml
Due: none

depends on
  pipelines/nlu-extension-test.yml
Due: none

Changed to private and public pipelines
  pipelines/nlu-extension-build.yml
  pipelines/nlu-extension-public.yml
Due: none

Fixes
  pipelines/nlu-extension-public.yml
Due: none

deleted model
  models/luismodel.json
Due: pipelines/nlu-extension.yml, pipelines/nlu.yml

added confusion matrix code.
  extensions/.gitignore
  extensions/tabs/NLUResults.html
  extensions/tabs/scripts/confusion.js
  extensions/tabs/scripts/d3.min.js
  extensions/tabs/scripts/json2html.min.js
Due: pipelines/extension-build.yml

added conditions with env vars
  pipelines/nlu-extension-build.yml
Due: none

Review fixes
  pipelines/nlu-extension-build.yml
  pipelines/nlu-extension-public.yml
Due: none

Create nlu-extension-build.yml
  pipelines/nlu-extension-build.yml
Due: none

add scripts to manifest
  extensions/tabs/NLUResults.html
  extensions/vss-extension.json
Due: pipelines/extension-build.yml

add css to manifest
  extensions/tabs/matrix.css
  extensions/vss-extension.json
Due: pipelines/extension-build.yml

debug manifest
  extensions/tabs/NLUResults.html
  extensions/tabs/metadata
  extensions/vss-extension.json
Due: pipelines/extension-build.yml

typo
  extensions/vss-extension.json
Due: pipelines/extension-build.yml

typo2
  extensions/tabs/NLUResults.html
Due: pipelines/extension-build.yml

not always 4 reponse types...fix
  extensions/tabs/scripts/confusion.js
Due: pipelines/extension-build.yml

bad length in this too.
  extensions/tabs/scripts/confusion.js
Due: pipelines/extension-build.yml

only call with metadata once
  extensions/tabs/NLUResults.html
Due: pipelines/extension-build.yml

Test diff for same file name.
  pipelines/extension-build.yml
Due: pipelines/extension-build.yml

Revert "Test diff for same file name."
  pipelines/nlu-extension-build.yml
Due: none

Minor fixes
  pipelines/nlu-extension-build.yml
Due: none

Renaming again to trigger pipeline
  pipelines/extension-build.yml
Due: pipelines/extension-build.yml

more minor fixes
  pipelines/extension-build.yml
Due: pipelines/extension-build.yml

Added test and release of extension to pipeline (#123)
  pipelines/extension-build.yml
Due: pipelines/extension-build.yml

Renames AzDO pipeline YAML files
  pipelines/build-cli.yml
  pipelines/build-extension.yml
  pipelines/nlu-cli.yml
  pipelines/nlu-provider.yml
Due: pipelines/nlu-provider.yml

added confusion matrix code.
  extensions/.gitignore
  extensions/tabs/NLUResults.html
  extensions/tabs/matrix.css
  extensions/tabs/metadata
  extensions/tabs/scripts/confusion.js
  extensions/tabs/scripts/d3.min.js
  extensions/tabs/scripts/json2html.min.js
  extensions/vss-extension.json
  pipelines/nlu-extension-build.yml
Due: pipelines/extension-build.yml

Adds proper auth header to D3 attachment fetch
  extensions/tabs/NLUResults.html
  extensions/tabs/metadata
  extensions/tabs/scripts/confusion.js
  extensions/vss-extension.json
Due: pipelines/extension-build.yml

Adds infrastructure for passing NLU results to Azure Pipelines tab
  extensions/package.json
  extensions/tabs/NLUResults.html
  extensions/tabs/package.json
  extensions/tasks/NLUTestV0/index.ts
  extensions/tasks/NLUTestV0/package.json
  extensions/tasks/NLUTestV0/task.json
  extensions/tslint.json
  extensions/vss-extension.json
Due: pipelines/extension-build.yml

Reverted conditions for tasks
  pipelines/build-extension.yml
Due: none

Update overview.md
  extensions/overview.md
Due: pipelines/extension-build.yml

Path conditions:
  pipelines/build.yml: any of: pipelines/build.yml, src
  pipelines/extension-build.yml: any of: extensions, pipelines/extension-build.yml
  pipelines/nlu-extension.yml: any of: pipelines/nlu-extension.yml, models, src
  pipelines/nlu-provider.yml: any of: pipelines/nlu-provider.yml, src
  pipelines/nlu.yml: any of: pipelines/nlu.yml, models, src
